[2016-05-25 23:06] juliangruber opened #1 "accept files via drop on app icon"

[2016-05-26 12:19] juliangruber opened #2 "use semistandard"

[2016-05-26 12:21] juliangruber opened #3 "ensure all dependencies are prebuilt"

[2016-05-26 17:16] juliangruber commented on #2
8ee515f

[2016-05-26 17:16] #2 closed

[2016-05-27 11:25] juliangruber opened #5 "implement multi window mode"

[2016-05-27 11:26] juliangruber opened #6 "add handler for dat:// protocol"
- [ ] create a launch service
- [ ] add CFBundleURLTypes to Info.plist

[2016-05-27 11:26] juliangruber commented on #5
one for your own, one per archive that you're mirroring

[2016-05-30 17:57] #1 closed

[2016-05-30 18:01] juliangruber commented on #6
http://stackoverflow.com/questions/18534591/how-to-register-a-url-protocol-handler-in-node-js

[2016-05-30 18:27] juliangruber opened #7 "allow app to be opened via file dropped on icon"

[2016-05-30 19:05] #7 closed

[2016-05-30 19:48] juliangruber commented on #6
this is actually simpler: just need to add appropriate entries into the info.plist and literally move the app to another folder once. at least that works on osx

[2016-05-30 19:51] #6 closed

[2016-05-30 19:51] juliangruber commented on #6
next: use the link to replicate with an archive

[2016-05-31 10:03] juliangruber opened #8 "add .rebuild script"
against node vs electron abi mismatches

[2016-05-31 10:06] juliangruber opened #9 "peg electron-prebuilt version"
electron doesn't use semver

[2016-05-31 12:34] #9 closed

[2016-05-31 12:35] #8 closed

[2016-05-31 12:35] juliangruber commented on #5
maybe, depends on the designs to come

[2016-05-31 12:35] #5 closed

[2016-06-01 12:43] juliangruber opened #10 "add cli args to override db and data folders"
for now just so we can test replication with two dat-dekstop instances on the same machine

[2016-06-01 13:00] #10 closed

[2016-06-01 22:23] juliangruber opened #11 "rebuild not working"
still getting version mismatch errors

[2016-06-02 11:02] #11 closed

[2016-06-03 13:23] juliangruber opened #12 "debounce rendering"

[2016-06-03 13:32] #12 closed

[2016-06-03 13:32] juliangruber opened #13 "add travis"

[2016-06-03 13:35] #13 closed

[2016-06-09 15:57] juliangruber opened #14 "test on multiple computers"

[2016-06-09 15:58] juliangruber opened #15 "fix duplicate file drop"

[2016-06-09 15:58] juliangruber opened #16 "file listing doesn't show after switching to another archive"

[2016-06-09 15:59] juliangruber opened #17 "add css"

[2016-06-13 11:12] juliangruber opened #18 "evaluate css-modules"
https://github.com/css-modules/css-modules

[2016-06-13 11:13] juliangruber commented on #17
@kriesse tell me if this works for you for now: https://github.com/juliangruber/dat-desktop#styles

[2016-06-13 11:14] juliangruber commented on #17
shall i add stuff like life reloading css?

[2016-06-13 11:54] juliangruber commented on #16
manually listing files instead of through hyperdrive-ui works, but i assume it's a bug somewhere in the yo-yo stack

[2016-06-13 14:12] Kriesse commented on #18
FYI, might be useful https://www.npmjs.com/package/css-modules-electron

[2016-06-14 06:24] karissa commented on #16
this might be your culprit: https://github.com/juliangruber/dat-desktop/blob/master/lib/render.js#L26

`yo` might not be able to distinguish the diff between the old hyperdrive-ui and the new one here? have you tried updating the `hyperdrive-ui` instance separately with `yo.update` on click?

@maxogden @shama do you know why this is not working?

[2016-06-14 13:31] juliangruber commented on #16
@karissa yep. `hyperdrive-ui()` is just returning dom, yo should be able to diff it. the problem as far as i understand is that hyperdrive will modify the returned dom after it has been rendered, probably some references break...

if we initialize `hyperdrive-ui` with the full `entries` array and it doesn't have to do any asynchronous work, i'm quite sure the rendering will work as expected.

[2016-06-14 16:21] juliangruber opened #19 "show replication status as progress bar"
from https://blog.dcpos.ch/how-to-make-your-electron-app-sexy:

[code]

[2016-06-14 16:23] juliangruber opened #20 "show desktop notifications"
which events should we show them for?

[2016-06-14 16:23] juliangruber opened #21 "crash reporting"
using crashpad

- priority is catching application bugs, not electron hard crashes. so if hypercore for example throws an exception we should grab the stacktrace and send it to our crash reporting endpoint
- if we can do electron app crash reporting thats a bonus

---
### todos
- [x] create crash reporting service ([repo](https://github.com/yoshuawuyts/crash-reporter-service))
- [x] deploy crash r

[2016-06-14 17:39] shama commented on #16
It's likely because [this line](https://github.com/karissa/hyperdrive-ui/blob/master/index.js#L68) is referencing an element that is no longer in the DOM.

The easiest way to fix is use `document.querySelector()` to find the actual element in the DOM when calling `yo.update()`.

Or another strategy is send an action up when the `entries` have changed and leave it to the parent to render down again

[2016-06-14 18:20] juliangruber commented on #16
that's interesting, i'll give it a try :)

[2016-06-14 18:22] juliangruber commented on #16
@shama what would you then do about the stream the widget creates internally? it def. seems to me that this requires some lifecycle management

[2016-06-14 18:26] laurengarcia commented on #16
i brought this up with max, too, @juliangruber and he recommended checking out choo
https://www.npmjs.com/package/choo

[2016-06-14 18:46] shama commented on #16
@juliangruber I try to keep the models and views separate. That will let the app control the lifecycle.

The widget just accepts some generic data as input and returns an element. As events occur in that element, actions (just callbacks) are sent out. The app manipulates the model, builds the new data and gives it to the widget to render again.

Widgets can update themselves but best for only inte

[2016-06-15 22:33] #16 closed

[2016-06-19 14:31] juliangruber commented on #15
this issue is being worked on in hyperdrive: https://github.com/mafintosh/hyperdrive/issues/63

[2016-06-19 14:33] #3 closed

[2016-06-19 14:35] juliangruber commented on #19
to get events:

[code]

we can also measure the throughput of `archive.replicate()`

[2016-06-19 14:36] juliangruber opened #22 "keep track of peers per archive"

[2016-06-19 14:36] juliangruber opened #23 "show down-/upload status"

[2016-06-19 14:38] juliangruber commented on #20
[code]

[2016-06-19 14:39] juliangruber commented on #23
from dat.land:

[code]

[2016-06-20 17:45] juliangruber commented on #20
- [ ] archive finished downloading

[2016-06-21 15:56] juliangruber opened #24 "store and read meta information in dat.json"
- [x] title
- [x] author

[2016-07-04 21:32] Kriesse commented on #17
I'm good with the current setup 👍

[2016-07-04 21:38] #17 closed

[2016-07-06 10:25] Kriesse opened #26 "App Icons"
Create App Icons and other assets needed

[2016-07-06 10:27] Kriesse commented on #26
First stab at the app icon here:
[dat-desktop-icons.zip](https://github.com/juliangruber/dat-desktop/files/349554/dat-desktop-icons.zip)

Let me know if we need other assets or formats.

[2016-07-06 12:23] juliangruber commented on #26
awesome! i'll put them into the build process and see how it goes

[2016-07-11 12:44] juliangruber opened #27 "sync folder contents"
watch the file system and keep the archive updated, so we support live updates here too

[2016-07-11 15:55] juliangruber commented on #27
blocked by https://github.com/juliangruber/hyperdrive-import-files/pull/1

[2016-07-12 07:03] juliangruber commented on #27
actually now blocked by https://github.com/juliangruber/hyperdrive-import-files/issues/2

[2016-07-13 10:34] juliangruber opened #28 "add packaging process"

[2016-07-13 10:37] #28 closed

[2016-07-13 11:00] #26 closed

[2016-07-14 11:38] juliangruber opened #29 "keep own dats where they are"
don't copy dat files to the ~/Downloads folder if it's your own dat, just keep them where they are

[2016-08-11 15:29] juliangruber opened #33 "upgrade hyperdrive-import-files"

[2016-08-11 15:56] #33 closed

[2016-08-11 16:21] #29 closed

[2016-08-11 17:56] juliangruber opened #34 "upgrade hyperdrive"

[2016-08-11 17:59] #34 closed

[2016-08-12 17:52] juliangruber opened #35 "add menu bar item to open devtools"
useful for released dat desktop versions

[2016-08-12 18:24] juliangruber commented on #35
https://github.com/juliangruber/dat-desktop/commit/7e2b6c3c2a66ad848fa51f3e104f8bd77fcc279b

[2016-08-12 18:24] #35 closed

[2016-08-12 18:27] juliangruber commented on #27
this is working :)

[2016-08-12 18:27] #27 closed

[2016-08-12 18:27] juliangruber opened #36 "slim down app"
The dmg is currently 88.7 MB in size :|

[2016-08-13 08:19] juliangruber opened #37 "app ready issue"
<img width="490" alt="screen shot 2016-08-13 at 10 18 53" src="https://cloud.githubusercontent.com/assets/10247/17642275/5d539752-613f-11e6-9327-8b307a3f9ac9.png">

I suspect it's this line: https://github.com/juliangruber/dat-desktop/blob/master/index.js#L39

[2016-08-19 21:40] zeke commented on #36
How do you plan to make it smaller?

[2016-08-19 21:41] zeke commented on #36
Maybe this would help? https://github.com/electron-userland/electron-packager/issues/235

[2016-09-05 09:14] juliangruber opened #39 "release"

[2016-09-05 09:14] juliangruber opened #40 "live update dat title display"

[2016-09-05 09:50] juliangruber commented on #40
#41

[2016-09-05 09:50] #40 closed

[2016-09-05 13:25] #39 closed

[2016-09-07 08:09] juliangruber opened #42 "use electron-builder"
https://github.com/electron-userland/electron-builder

Should simplify a lot of things

[2016-09-07 13:41] juliangruber opened #43 "release"

[2016-09-07 13:46] #37 closed

[2016-09-07 13:57] juliangruber opened #44 "use dat-js"

[2016-09-07 14:11] juliangruber commented on #22
works!

[2016-09-07 14:11] #22 closed

[2016-09-07 14:11] juliangruber commented on #20
depends on #23

[2016-09-07 14:12] juliangruber commented on #24
@Kriesse can you think of a way to add the author to the ui?

[2016-09-07 14:16] karissa commented on #20
I think archive finished downloading is a good start!

another one which we've talked about with users a lot is pretty complicated but would be a slam dunk:

1. download a dat
2. get a notification when there is a 'new change available'
3. click notification to see which files changed and maybe view preview
4. be able to manually roll back if automatic sync is on, or click to update to newest vers

[2016-09-07 14:36] juliangruber commented on #20
sounds really cool, let's do this once we start implementing snapshots in the ui

[2016-09-07 19:57] joehand commented on #23
I'm going to try to improve stats & progress in the CLI this week too (especially for live updates). Most of that will happen in dat-js but I think some of that should end up in hyperdrive too.

Right now, I'm doing this [hacky thing](https://github.com/joehand/dat-js/blob/master/index.js#L215) to show progress on resumes.

[2016-09-08 12:50] Kriesse commented on #18
Closing, not useful at the moment

[2016-09-08 12:50] #18 closed

[2016-09-08 12:54] Kriesse commented on #24
@juliangruber how about this?
![image](https://cloud.githubusercontent.com/assets/53684/18349999/10545bae-75d4-11e6-9fba-38503826f539.png)

[2016-09-09 08:45] juliangruber commented on #24
looks fantastic!

[2016-09-16 10:36] Kriesse opened #46 "Style Sharing Modal"
Current status:

![image](https://cloud.githubusercontent.com/assets/53684/18583297/1378a07e-7c0a-11e6-90ad-f2c4e549b8c4.png)

Related: https://github.com/datproject/dat.land/issues/255

[2016-09-16 17:02] joehand commented on #23
With hyperdrive 7.5, it seems like it'll be a lot easier to track blocks on download (instead of bytes). Going to start transitioning to that (see [this issue](https://github.com/datproject/dat/issues/526))

[2016-09-19 08:37] juliangruber commented on #46
It could very well be that we need to roll our own modal implementation for this, as it's the js-alert lib right now. But maybe if all it takes is adding some css, that would be great too

[2016-09-22 12:29] karissa opened #47 "tons of memory!"
<img width="997" alt="screen shot 2016-09-22 at 2 29 01 pm" src="https://cloud.githubusercontent.com/assets/633012/18748087/01a7e014-80d1-11e6-9a84-d5e6d0d41c58.png">

Downloading a 5GB dat, dat-desktop is using almost 4GB of memory

[2016-09-22 12:31] karissa opened #48 "move to datproject?"
I think it is almost time to move this to datproject/ and focus on it hard! would love to also chat about priorities for the desktop app and see what's needed to take it next level! Happy to help code with you on the next sprint, too

[2016-09-22 12:39] juliangruber commented on #47
can you compare that to how much memory `dat(1)` uses for the same task?

[2016-09-22 14:25] karissa commented on #47
good q!

It wrecks my cpu but memory doesn't seem to go that high that fast.
<img width="605" alt="screen shot 2016-09-22 at 4 25 31 pm" src="https://cloud.githubusercontent.com/assets/633012/18751973/3534653c-80e1-11e6-81ae-e2118bbe41d7.png">

[2016-09-22 14:27] karissa commented on #46
We could also do something really simple with `node-notifier`

example I use in ye old dat-menubar: https://github.com/karissa/dat-menubar/blob/master/app.js#L52

[2016-09-24 13:26] juliangruber commented on #48
What about we move it to datproject/ once progress indicators work? Those are kind of the only "embarrassing" things left to fix imo.

[2016-09-26 12:43] juliangruber opened #49 ""Create new dat" icon flickers on window resize"

[2016-09-26 12:45] juliangruber opened #50 "Icon only action column"

[2016-09-26 12:54] juliangruber opened #51 "add svg sprite system"
https://www.sitepoint.com/a-working-svg-workflow-for-accessible-icons/

[code]

[2016-09-26 12:55] juliangruber commented on #51
https://github.com/datproject/dat.land/commit/fb0a73bbfdd5b02aa85287d1fafbf3b9e4c5378f

[2016-09-26 13:04] juliangruber commented on #51
## Example

[code]

[2016-09-26 14:06] juliangruber opened #52 "When list of dats is empty, show welcome/help text"
..and hide table

[2016-09-26 14:30] juliangruber opened #53 "Add Menu Icon + Dropdown"
for now, including
- account placeholder
- software author & twitter
- submit issue
- version
- "Built with 🐈  by Dat"

[2016-09-29 17:29] Kriesse commented on #51
icons now live here: https://www.npmjs.com/package/dat-icons. Still need to move them out of dat-design.

[2016-10-07 10:26] Kriesse commented on #51
@juliangruber Added an icon component, and with the latest bel version (4.5.0) it works – but only in render.js, not when I use it in header.js. Help please.

[2016-10-07 13:40] juliangruber commented on #51
@Kriesse sure, can you show me the code?

[2016-10-11 14:10] nolotus opened #56 "why not support folder sync"
when create new dat ,it not support folder.just for single file.

[2016-10-11 14:11] karissa commented on #56
working on this, once we integrate dat-js in #44 it should do that!

[2016-10-11 14:17] nolotus commented on #56
how long ?i want use dat build a Distributed blog platform.could you give me some suggest.

[2016-10-11 14:20] karissa commented on #56
I think you'll want to use the underlying modules for that. This is more of a user-facing app for dat. Try looking at http://github.com/mafintosh/hyperdrive and http://github.com/beakerbrowser/beaker

[2016-10-11 14:20] #56 closed

[2016-10-11 14:21] karissa commented on #15
what is the issue here? will this be fixed by the recent changes to hyperdrive-import-files?

[2016-10-11 15:12] juliangruber commented on #56
dat-desktop in its current version actually allows you to share folders. can you try again after upgrading?

[2016-10-11 15:14] juliangruber commented on #15
I'm 50/50 on this one...on one hand it would be nice to de dupe files, on the other hand, hashing everything is too expensive and simply relying on mtimes for deduping isn't safe. I'd say we should make the stack work in a way that it doesn't matter really, even if a file is added again.

[2016-10-11 15:20] juliangruber commented on #15
@mafintosh what do you think about this one? ^

[2016-10-18 01:59] karissa opened #57 "consider choo migration"
cc @yoshuawuyts

[2016-10-18 02:28] karissa commented on #57
probably should merge the update-design branch first

[2016-10-18 14:21] Kriesse commented on #51
This will be closed once https://github.com/juliangruber/dat-desktop/pull/58 is merged

[2016-10-18 14:22] Kriesse commented on #50
Closed in https://github.com/juliangruber/dat-desktop/pull/58

[2016-10-18 14:55] yoshuawuyts commented on #57
yeah, feel this might be a good idea - right now we're pretty light on logic so it's not an issue - but once we start adding more moving parts having a bit more structure could help with collaborating for sure :sparkles:

[2016-10-18 15:47] #49 closed

[2016-10-18 15:48] #51 closed

[2016-10-18 15:48] #50 closed

[2016-10-19 03:55] maxogden opened #59 "user story for alpha launch"
Based on our call the other night, open to changes but this is what we felt like was an acceptable tradeoff of features vs shipping things quickly

# V1 Desktop Publish Flow

1. User installs desktop app, opens it, signs up for account
2. They can create a dat, it creates it locally, including a keypair
3. Nothing happens on a server until they 'publish', at that point it hits our dat-push endpoin

[2016-10-19 04:16] maxogden opened #60 "Weird rendering glitches"
Probably electrons fault, but posting here because both @clkao and I noticed it when running the `auth0` branch. Issue is flickering when rendering CSS shadows/semi opaque overlays

Video: https://drive.google.com/open?id=0B8lSLF293vHqZkhoT004UTd1b3M

[2016-10-19 10:47] yoshuawuyts commented on #59
Sounds good; seems like it's completely in line with what we discussed in Berlin

[2016-10-19 19:40] karissa commented on #59
Sounds Good. We don't have a design for "pushing to a dat endpoint and see the data uploading to our Google server"

[2016-10-20 20:23] karissa commented on #59
cc @Kriesse what do you think about the 'pushing to a dat endpoint'? Should we make an issue for that in dat.land-roadmap with a 'design needed' tag for some point later? The functionality isn't there yet but at some point we'll probably want to talk about how the design would work. For now it could just be a simple button that is like 'backup' but i wonder what other implications this might have

[2016-10-21 11:14] Kriesse commented on #14
Has been installed and tested on multiple computers; closing. Let's discuss testing strategy closer to next release.

[2016-10-21 11:14] #14 closed

[2016-10-21 11:16] Kriesse commented on #15
ping @mafintosh @juliangruber any update on this?

[2016-10-21 11:17] Kriesse commented on #19
Still an issue, progress bar is hard-coded at 50%
![image](https://cloud.githubusercontent.com/assets/53684/19596805/bc6b4064-9790-11e6-8621-895cf68f4e68.png)

[2016-10-21 11:28] yoshuawuyts commented on #42
related to https://github.com/juliangruber/dat-desktop/issues/36

[2016-10-21 11:28] Kriesse commented on #43
done: https://github.com/juliangruber/dat-desktop/releases/tag/v1.0.1

[2016-10-21 11:29] yoshuawuyts commented on #36
We could use [disc](https://github.com/hughsk/disc) to start optimizing our bundle sizes

[2016-10-21 11:30] #43 closed

[2016-10-21 11:32] Kriesse commented on #48
ping @juliangruber

[2016-10-21 11:39] yoshuawuyts opened #61 "[feature] migrate to choo"
As per https://github.com/juliangruber/dat-desktop/issues/57 we should migrate the logic to `choo`.

[ steps tbi, need to read source to figure out what the order is ]

[2016-10-21 11:39] yoshuawuyts commented on #57
@juliangruber seemed to be keen on the idea too. Closing in favor of https://github.com/juliangruber/dat-desktop/issues/61

[2016-10-21 11:40] #57 closed

[2016-10-21 13:29] yoshuawuyts commented on #60
This seems to be because of the styles included with the `auth0` login widget. There seem to be multiple transitions that interact oddly with each other. We probably want to implement our own login screen to match the designs we have, so that should provide a resolution for this issue

[2016-10-21 13:39] juliangruber commented on #48
<img width="314" alt="screen shot 2016-10-21 at 15 39 16" src="https://cloud.githubusercontent.com/assets/10247/19600266/8d70fda8-97a4-11e6-8a6f-0edccd3afb1f.png">

[2016-10-21 15:21] karissa opened #63 "[infrastructure] Automated Builds"
We should have a way to automate builds; e.g. enable a (CI) servers to create
the appropriate builds, tags and github release. This way we can get into the
habit of releasing early and often, which creates momentum for the team and
project in general.

In addition to creating builds on release, it would be valuable to create
nightly builds that we can download and run to test features. This ties i

[2016-10-21 16:12] Kriesse opened #64 "Feature Dat Desktop on dat-data.com"
On the dat-data.com website, provide Dat Desktop download links.
Add a little intro text and possibly screenshots and feature descriptions.

[2016-10-21 17:18] Kriesse opened #65 "Review (S)CSS workflow"
Let's streamline our CSS workflow. Some ideas:
- move away entirely from SASS?
- use Tachyons?

Let's not do it now if it turns out to be a blocker for more than ~1week.

[2016-10-21 17:20] Kriesse opened #66 "Review UI components workflow"
Use base-elements?
Let's sketch out a possible workflow and estimate time investment.

[2016-10-21 17:20] yoshuawuyts opened #67 "[infrastructure] updates"
Auto updates are important so that new users can enjoy the features we put out. This will improve their Dat experience, and prevents us with having to debug older versions.
- [x] auto download new app version whenever a new release is done, similar to how chrome does it
- [x] figure out signing on OS X (e.g. make it so the shell only has to be downloaded once, and is then verified by apple while s

[2016-10-21 17:24] Kriesse opened #68 "Style Empty States"
When a user opens Dat Desktop for the first time, what do they see?
When the list of dats is empty, what do they see?

- [x] style empty table state
- [x] style welcome screen

[2016-10-21 17:26] yoshuawuyts opened #69 "[infrastructure] telemetry"
In order to know how Dat desktop is performing, it would be useful to create a telemetry dashboard similar to how webtorrent-desktop does it. Stats would include user retention rate, common bugs, and more.
### steps
- [ ] extract telemetry code from [webtorrent-desktop](https://github.com/feross/webtorrent-desktop) (https://github.com/feross/webtorrent-desktop/blob/master/src/renderer/lib/telemetr

[2016-10-21 17:26] Kriesse opened #70 "Style Dat Status Icons"
Each Dat is displayed as a row which starts with an icon that indicates the state of the dat.

To Do:
- [x] list and name all possible states
- [x] mock up
- [x] create assets

[2016-10-24 10:31] yoshuawuyts commented on #61
Looked at the code, seems like it should be a reasonably straight forward migration - fingers crossed it also turns out to be that way

[2016-10-24 12:56] yoshuawuyts commented on #66
ran into a bug https://github.com/yoshuawuyts/base-elements/issues/3

[2016-10-25 16:08] yoshuawuyts opened #72 "[discussion] desktop architecture"
# dat desktop architecture

I ran into some issues with `dat-desktop`'s technical design today. I'm writing
this document because I feel it's important to communicate the issues and
proposed solution. This way it's clear for everyone if we decide to take a
certain direction, and makes sure we're all on the same page. Here goes:
## current

Currently `dat-desktop` is a mix of server and client code

[2016-10-25 16:18] maxogden commented on #72
Thinking out loud, but it seems like the 'code smell' here is that while you don't need browserify to bundle your code for electron (since you can just require directly), you still need browserify to run browserify transforms. Maybe there's some unconsidered solution that involves either avoiding a dependency on browserify transforms or maybe calling transforms in special cases without needing to

[2016-10-25 20:21] yoshuawuyts commented on #72
From IRC:
[code]

[2016-10-26 22:28] karissa commented on #70
related to dataset 'health' at all (https://github.com/datproject/dat.land-roadmap/issues/46)?

What do you mean by 'state' of the dat?

[2016-10-27 08:53] juliangruber commented on #70
I think `downloaded`, `downloading`, `empty`, etc?

[2016-10-27 09:18] juliangruber commented on #72
@yoshuawuyts I can't seem to find the dat-elements repo anywhere, also curious why it needs browserify transforms. Maybe we can just do those transforms as part of the `npm publish` step so you can require them from anywhere?

[2016-10-27 09:33] mafintosh commented on #72
@juliangruber https://github.com/datproject/dat-elements maybe?

[2016-10-27 09:41] juliangruber commented on #72
@mafintosh ah, they aren't on npm yet, didn't see that repo. looking at https://github.com/datproject/dat-elements/blob/master/package.json#L6, even If we use browserify it's not going to run any transforms for this module, right?

[2016-10-27 10:00] yoshuawuyts commented on #72
@juliangruber it will for https://github.com/yoshuawuyts/base-elements

[2016-10-27 10:33] Kriesse commented on #70
@karissa Yup, what @juliangruber said – this refers to the icon (currently a hexagon with an arrow) at the beginning of a dat line item. I'll come up with a suggestion in a mockup and will then need your feedback on whether I represented the states correctly :)

[2016-10-27 18:22] juliangruber commented on #72
@yoshuawuyts i guess moving this step into `prepublish` wouldn't work?

[2016-10-31 15:11] Kriesse commented on #61
PR ready for review here: https://github.com/datproject/dat-desktop/pull/71

[2016-11-01 15:07] yoshuawuyts commented on #61
This done now

[2016-11-01 15:07] #61 closed

[2016-11-01 15:39] Kriesse commented on #66
Decided to use [dat-elements](https://github.com/datproject/dat-elements) to build out a component library.

[2016-11-01 15:39] #66 closed

[2016-11-01 20:21] karissa commented on #20
removing this from 1.1.0 stabilize because its a feature

[2016-11-02 12:35] juliangruber commented on #47
let's revisit this once we moved to dat-js

[2016-11-02 16:12] juliangruber commented on #44
pull request here: https://github.com/datproject/dat-desktop/pull/73

[2016-11-02 21:07] maxogden opened #74 "npm install should install electron native modules correctly first time"
based on reading https://docs.npmjs.com/all#config i was hoping adding this to dat-desktop package.json would make npm install "just work" but it had no effect :( https://usercontent.irccloud-cdn.com/file/AoNdfyK3/Screen%20Shot%202016-11-02%20at%201.57.32%20PM.png

to fix it, @juliangruber came up with the idea of having `prebuild` respect the `config` property of package.json, which would solve t

[2016-11-02 21:13] mafintosh commented on #74
@maxogden cool idea!

[2016-11-03 14:15] juliangruber opened #75 "two package.json structure"
for https://github.com/datproject/dat-desktop/issues/42

[2016-11-03 15:20] #75 closed

[2016-11-10 11:30] juliangruber commented on #36
solved by the 2 package.json architecture

[2016-11-10 11:30] #36 closed

[2016-11-10 18:10] zeke commented on #36
@juliangruber I see you're not using electron-builder. Did you try it and have problems with it?

[2016-11-11 10:27] juliangruber commented on #36
@zeke working on a pr to add it :)

[2016-11-14 15:36] Kriesse commented on #52
Closing, same as #68

[2016-11-14 15:36] #52 closed

[2016-11-16 15:14] Kriesse commented on #65
Yes, we'll move away from SASS and use tachyons.

[2016-11-16 15:14] #65 closed

[2016-11-17 14:33] Kriesse commented on #44
Done! Yay!

[2016-11-17 14:33] #44 closed

[2016-11-17 14:35] Kriesse commented on #19
@juliangruber ping – does dat-js support this?

[2016-11-17 14:38] Kriesse commented on #23
@joehand As https://github.com/datproject/dat/issues/526 is closed, can we get this from dat-js?

[2016-11-17 16:07] juliangruber commented on #19
dat-js doesn't (yet) support this, i'll integrate https://github.com/juliangruber/hyperdrive-stats to achieve this

[2016-11-17 16:07] juliangruber opened #81 "add hyperdrive-stats"
for progress information, see https://github.com/datproject/dat-desktop/issues/19#issuecomment-255356234

[2016-11-17 17:36] juliangruber commented on #23
@Kriesse we can get it from hyperdrive-stats currently, yes. Do you want to add UI for this?

[2016-11-18 14:45] Kriesse commented on #23
@juliangruber Cool, yes –  to clarify, in the UI this would be the hexagon in front of each row, right?
Here's the latest mockup:

![image](https://cloud.githubusercontent.com/assets/53684/20433906/dea8e6ce-ada5-11e6-927c-e95890d92237.png)

[2016-11-18 14:56] #81 closed

[2016-11-18 15:10] juliangruber commented on #23
that as well. see https://github.com/datproject/dat-desktop/pull/84

[2016-11-21 05:37] clkao commented on #48
Apparently this is done.

[2016-11-21 05:37] #48 closed

[2016-11-21 05:59] Kriesse commented on #60
@yoshuawuyts @maxogden Can we close this (as we are probably not going to use this widget)?

[2016-11-21 06:10] Kriesse opened #85 "Create New Dat via Drag and Drop does not work"
When attempting to drag a file or folder onto the Desktop app, instead of creating a dat, it behaves like a browser (either prompts to save the file or displays the folder).

[2016-11-21 06:49] Kriesse opened #86 "Ask for confirmation before removing a Dat"
The user should understand that they're removing the dat, let's give them a warning. Will work on UI.

- [ ] add modal dialogue
- [ ] style it

[2016-11-21 09:35] clkao opened #87 "Creating a new dat and sharing is broken"
1. Create a new dat (choose some directory), obtain dat link
2. Use dat cli to clone that link. it hangs without knowing how many files are in the archive
3. If you reload the desktop app, the running dat cli might suddenly know the number of files, but still unable to download.

Interestingly if the desktop is re-sharing something (via dat-js download api), it can upload  to other client fine:
1.

[2016-11-21 09:37] clkao commented on #74
I am getting `Module version mismatch. Expected 50, got 48.` for the first `npm i`. It seems the second run recompiles things and made it work.

However if I tried to use linked `dat-js` for dev, the problem appears again.

[2016-11-21 14:02] clkao commented on #74
probably related to https://github.com/electron/electron/issues/5851

[2016-11-21 18:13] juliangruber commented on #85
oh, dang! Yeah, so it should _not_ accept dropping a file, only folders are supported by dat.

[2016-11-21 18:15] juliangruber commented on #74
@clkao hm weird, the postinstall script should run the rebuild script

[2016-11-21 18:24] yoshuawuyts commented on #85
This doesn't seem to be a limitation by hyperdrive tho, right? From the
example code it seemed like random access file could write to any file
location

On Mon, Nov 21, 2016, 19:13 Julian Gruber <notifications@github.com> wrote:

[2016-11-21 18:32] juliangruber commented on #85
@yoshuawuyts when we used `hyper*` directly, we could support this mode, however `dat-js` currently doesn't plan to support it as `dat(1)` also won't.

[2016-11-21 19:13] yoshuawuyts commented on #85
Oh, do you mean by `dat(1)` not supporting it that it doesn't right now -
or that a conscious decision has been made to never support it? - in the
latter case I'd be disappointed as sharing single files seems like a very
useful thing to do.

On Mon, Nov 21, 2016 at 7:32 PM Julian Gruber <notifications@github.com>
wrote:

[2016-11-21 20:02] #60 closed

[2016-11-21 20:03] karissa commented on #86
Yeah, also we should consider whether or not it removes files from the filesystem. WebTorrent doesn't remove files, but DropBox does (via the filesystem).

I'm more inclined to err on the side of not removing the files directly since this UI is more similar to WebTorrent (UI delete button) than DropBox (filesystem) right now.

[2016-11-21 20:05] karissa commented on #74
Have you switched node versions since you installed dat-js?

[2016-11-21 20:15] karissa commented on #85
We are trying to compete with dropbox here which is folder based, and want to add collaborators to collaborate.

I'm down with adding single file support at some point in the future, but how do you feel about tabling it until we get folders to work well?

[2016-11-21 21:41] karissa commented on #87
I was able to reproduce this error. It seems like its able to connect to the peer, but the metadata is wrong (# of files is incorrect) and no content data is transferred.

[2016-11-21 22:00] karissa commented on #87
It seems like this bug probably comes from these lines:

https://github.com/datproject/dat-desktop/blob/master/models/app.js#L58-L69

It might be closing the dat before it finishes importing the files, perhaps.

A better pattern would be to save that dat in a global list of  `archives` in the choo model, and then update this line so the `live-stream.js` doesnt try to re-open the dat: https://githu

[2016-11-22 01:23] clkao commented on #87
IIUC, the create effect only creates an empty dat and the livestream code reopens the dat and share from there.  If you reload the app, the dat is actually just opened for sharing (not freshly created this time) and importing, but is still not transmitting to other peers.

[2016-11-22 01:24] karissa commented on #87
If I try to reshare the dat created using Dat Desktop, with the command line, I get this:

[code]

[2016-11-22 01:25] karissa commented on #87
Ah I see what is going on here. I think that the livestream code assumes its a download and isn't using the local path.

[2016-11-22 02:33] karissa commented on #87
nevermind, its creating a path in Downloads but doesnt use it

[2016-11-22 08:11] Kriesse commented on #53
Mockup:
![image](https://cloud.githubusercontent.com/assets/53684/20515778/41959090-b0ce-11e6-8c86-6fd524313c16.png)

[2016-11-22 09:16] Kriesse commented on #70
Eventually we need SVGs here, not only text. Mockup:
![image](https://cloud.githubusercontent.com/assets/53684/20517706/49061fee-b0d7-11e6-8ff7-60a28c4bb847.png)

[2016-11-22 12:09] juliangruber commented on #86
I agree with not removing files automatically, but what about adding a check box to remove files in the confirmation dialogue?

[2016-11-22 12:13] juliangruber commented on #87
Alright, I'll try to come up with a PR that doesn't rely on any `.close()` implementation for now

[2016-11-22 12:18] juliangruber commented on #87
So instead of the live stream, it will use one initial read stream to load archives and then on archive create add the archive to the model and persist it in the db.

[2016-11-22 12:20] juliangruber commented on #87
This line seems to be breaking currently, as `root === undefined`: https://github.com/datproject/dat-desktop/blob/master/lib/live-stream.js#L41

Will be fixed by my PR too.

[2016-11-22 15:45] juliangruber opened #90 "evaluate centralized-multidrive"
https://github.com/yoshuawuyts/centralized-multidrive

[2016-11-22 16:53] karissa commented on #86
Let's wait for a user to ask for it

[2016-11-22 18:32] yoshuawuyts commented on #90
I think https://github.com/yoshuawuyts/multidrive/
<https://github.com/yoshuawuyts/multidrive/tree/master> would be a better
fit for the current dat model

On Tue, Nov 22, 2016 at 4:45 PM Julian Gruber <notifications@github.com>
wrote:

[2016-11-22 20:08] karissa commented on #87
awesome, thanks julian!

[2016-11-24 11:16] Kriesse commented on #46
@juliangruber I find the current modal implementation hard to style. All the styles/icons are hard-coded in the `js-alert` module, there don't seem to be any options. Any suggestions?

FYI, Mockup:
![image](https://cloud.githubusercontent.com/assets/53684/20596560/144e60fa-b27a-11e6-8776-5668ae951146.png)

[2016-11-24 11:31] juliangruber commented on #46
@Kriesse agree, I saw this coming but went for the "works right now" solution to have something to start with. Let's make this our own little component. cc @yoshuawuyts

[2016-11-24 11:33] Kriesse commented on #46
@juliangruber Cool, I figured (actually super helpful to see a quick working solution to figure out the UI details!)
Happy to style our own little component, just need a starting point :)

[2016-11-25 09:29] juliangruber commented on #46
nice! I think @yoshuawuyts this is where you take over, right?

[2016-11-25 14:37] yoshuawuyts commented on #46
Yup!

On Fri, Nov 25, 2016, 10:29 Julian Gruber <notifications@github.com> wrote:

[2016-11-29 16:30] yoshuawuyts commented on #46
Going to be switching to https://github.com/shama/modal-element

[2016-12-05 09:14] Kriesse opened #97 "Hide Table Headers when table is empty"
Table headers should only show after at least one dat is created.

Current state:
![image](https://cloud.githubusercontent.com/assets/53684/20879327/58cf7696-bb27-11e6-9bbe-19af0b9a2e09.png)

[2016-12-05 14:48] yoshuawuyts commented on #97
Feels like we'd need an empty state hmmmm ✨

On Mon, Dec 5, 2016 at 10:14 AM Kristina Schneider <notifications@github.com>
wrote:

[2016-12-06 13:15] Kriesse opened #100 "Limit width of Electron window"
@juliangruber Probably a quick one: Can we set the minimum-width of the electron window to 640px? Below that the table layout will fall apart. It would be time-consuming to optimize this for mobile, and since this is not our use case, let's just limit it.
E.g. Slack does that too. I assume it's an Electron option, but could not find it?

[2016-12-06 13:18] Kriesse commented on #97
@yoshuawuyts Yup :)
Can you set up an empty template for me that I can take from there and start styling?

![image](https://cloud.githubusercontent.com/assets/53684/20926806/67d3086a-bc12-11e6-960b-373484cd8386.png)

Also tracked here: https://github.com/datproject/dat-desktop/issues/68

[2016-12-06 13:27] Kriesse commented on #87
Appears to be fixed? Can we close? @juliangruber

[2016-12-06 13:33] Kriesse commented on #86
Can I get a modal here?
When the user clicks on the trash icon, this modal should come up.
Only after the user clicks the "Yes" button, the Dat gets deleted.

## Mockup:

![image](https://cloud.githubusercontent.com/assets/53684/20927229/ac7ca85c-bc14-11e6-8ffb-1ecd8639d679.png)

[2016-12-06 13:42] Kriesse commented on #70
@yoshuawuyts Question about: https://github.com/datproject/dat-desktop/blob/master/pages/main.js#L59

Instead of `↓`, how can I get something like this?
[code]

[2016-12-06 15:59] yoshuawuyts commented on #86
Looks great!

On Tue, Dec 6, 2016 at 2:33 PM Kristina Schneider <notifications@github.com>
wrote:

[2016-12-06 15:59] juliangruber commented on #87
yes, fixed by the live stream refactor :)

[2016-12-06 15:59] #87 closed

[2016-12-06 16:12] karissa commented on #86
+1!!!

[2016-12-06 16:15] karissa opened #101 "Share language"
Can we talk about these:

'share' vs. 'create new dat'

and

'download' or 'add' vs. 'import new dat'

[2016-12-06 16:16] #100 closed

[2016-12-06 16:16] juliangruber commented on #100
electron ftw :)

[2016-12-06 22:11] yoshuawuyts opened #103 "[ux] style copy-link modal"
different folks can do different parts, but I think this is what needs to happen to style the modal a bit further

### todo
- [x] stop copying link by default
- [x] build out a little model for the modal
- [x] style elements
- [x] fix regression with weird visual background things happening

---

### screenshots
![](https://cloud.githubusercontent.com/assets/53684/20926558/0c59dcd0-bc11-11e6-85bc-

[2016-12-06 22:21] Kriesse commented on #103
@yoshuawuyts nice! styling work started here: https://github.com/datproject/dat-desktop/tree/dat-link-modal

[2016-12-06 22:22] yoshuawuyts commented on #101
Some thoughts:

- I feel "share" means you share a dat with other folks - I think this one's clear
- I feel "create new dat" means you create a new dat repository out of a directory. I'd prefer we stick to "create new (dat) repository" as that's the language we're using in the whitepaper
- I don't think "download" is a good word in the context of dat, as we're all about live data and "download" fe

[2016-12-06 22:29] yoshuawuyts commented on #46
#99 was merged and opened #103 - closing this issue in favor of #103

[2016-12-06 22:29] #46 closed

[2016-12-06 22:31] yoshuawuyts commented on #90
we talked about this in person - `multidrive` is a useful idea, although the implementation is still quite exploratory; perhaps `multicore` might be an even better idea - but feel we've evaluated this topic for now (:

[2016-12-06 22:31] #90 closed

[2016-12-06 22:34] yoshuawuyts commented on #72
browserify is now in the tree - we can improve on how we're compiling right now but this issue can be closed now - we're treating `electron` as a first-class third target in addition to node and browser, but also running `browserify` to enable optimizations and transforms. Yay! :sparkles:

[2016-12-06 22:34] #72 closed

[2016-12-06 22:35] yoshuawuyts commented on #47
I don't think this is blocked any longer

[2016-12-06 23:51] Kriesse commented on #85
Quick solution for now: Disable drag and drop /cc @yoshuawuyts

[2016-12-07 00:04] Kriesse commented on #97
Closing, tracking this in #68

[2016-12-07 00:04] #97 closed

[2016-12-07 01:36] Kriesse commented on #68
@yoshuawuyts I'd like two different pages here.

## 1. Welcome Page
User opens app for the first time and sees a welcome message. Buttons in header are hidden. The button removes this page and goes to the Empty State. Later we could add a more detailed click through tutorial.
![image](https://cloud.githubusercontent.com/assets/53684/20951364/6dda79b6-bc79-11e6-817f-a5d54a3a8410.png)

## 2. Empty S

[2016-12-07 12:21] yoshuawuyts opened #104 "[bug] delete a dat is broken"
looks like https://github.com/datproject/dat-desktop/pull/91 introduced a couple of regressions:

- we were missing a dependency (fixed in #102)
- removing a dat throws an error:
  - `this` is not used correctly (should be `self`)
  - the event handler cannot be removed (e.g. it needs to reference the callback, there is none)
  - and even then the drive isn't removed from the registry

We should p

[2016-12-07 15:11] #104 closed

[2016-12-08 12:31] Kriesse commented on #103
@yoshuawuyts Can you make it so that when the link is copied to the clipboard, the class `show-confirmation` is added here? https://github.com/datproject/dat-desktop/blob/master/elements/modal.js#L170

[2016-12-08 16:27] yoshuawuyts commented on #103
@Kriesse done! - airport wifi is blocking `git push` tho (no UDP connections) so will push when home :D - really liking how it's shaping up :sparkles:

<img width="1280" alt="screen shot 2016-12-08 at 17 26 52" src="https://cloud.githubusercontent.com/assets/2467194/21018022/a3965a82-bd6b-11e6-90bf-72abe5f48cbf.png">

[2016-12-08 20:34] yoshuawuyts commented on #103
@Kriesse in terms of CSS code, I noticed we got [about 100 lines of CSS inline](https://github.com/datproject/dat-desktop/blob/master/elements/modal.js#L8-L119) for the modal - would it perhaps be an idea to replace most of it with tachyons before we close this issue?

[2016-12-09 06:15] Kriesse commented on #103
@yoshuawuyts I'm still going back and forth trying to come up with a set of rules for when to use a tachyons class vs when to use a custom class. Went through the CSS and cleaned up where it made sense, also removed all scss, please review :) https://github.com/datproject/dat-desktop/pull/110

So far, it turns out certain styles that our UI requires don't come via tachyons. So we have to add them

[2016-12-09 13:38] juliangruber commented on #63
dat-desktop now installs successfully on travis, osx and linux. Next: run the packaging jobs there too.

[2016-12-09 14:27] juliangruber commented on #63
packaging now works on travis too, next: use travis new cron jobs to provide nightly builds

[2016-12-09 15:34] yoshuawuyts commented on #103
@karissa yup, what @Kriesse said

---

@Kriesse I think if we were to create a classes version of https://www.npmjs.com/package/dat-colors we could go a long way - I feel colors is where we diverge most from tachyons, and fixing that would be good.

Probably the other two points where we differ significantly is our font styles, but we've solved that - and centering icons, but I feel that's also so

[2016-12-14 11:06] juliangruber commented on #85
I'll try to make dat desktop a drop target for folders only. If this doesn't work, I'll disable drag and drop completely.

[2016-12-14 11:40] juliangruber commented on #85
will be fixed by https://github.com/datproject/dat-desktop/pull/113

[2016-12-14 11:42] juliangruber commented on #47
we're not doing anything special here any more, just connecting dat-node and choo basically. Let's revisit this when it becomes a problem again.

[2016-12-14 11:42] #47 closed

[2016-12-14 11:42] juliangruber commented on #42
done! :)

[2016-12-14 11:42] #42 closed

[2016-12-14 11:45] juliangruber commented on #24
@Kriesse there's `dat.author` now in your template code, which will be read from the dat's `dat.json` as well

[2016-12-14 11:46] #19 closed

[2016-12-14 15:07] yoshuawuyts commented on #68
alright, #111 was merged - can all be styled now (:

[2016-12-15 03:40] #24 closed

[2016-12-15 04:34] Kriesse commented on #103
will be closed by https://github.com/datproject/dat-desktop/pull/115

[2016-12-15 04:34] Kriesse commented on #103
can't reproduce the weird visual background things anymore

[2016-12-15 04:35] Kriesse commented on #86
@yoshuawuyts Can you help me to get the confirmation modal in place? Styling should be quick then :)

[2016-12-15 04:38] Kriesse commented on #15
ping @juliangruber – not sure what's the status here?

[2016-12-15 04:47] #70 closed

[2016-12-15 04:51] Kriesse opened #116 "Enhancement: Modal should close when clicking anywhere outside of the modal"
… and maybe also on `esc` :)

[2016-12-15 04:55] #103 closed

[2016-12-15 06:03] Kriesse commented on #101
### Share vs. Create:

`Create New Dat`: A user creates a new dat out of a repository. This implies the user starts to "share" data.
`Share Dat Link`: A users gets a dat link to copy&past, so they can share it (i.e. send the link to someone). (Note we don't currently use the word "share" in the UI)

I can see how 1) the action to "share a link" and 2) the implied data sharing of "create new dat" a

[2016-12-15 10:01] yoshuawuyts commented on #116
Haha yeah so this should already be happening, but a bug in on-load is
messing this up - should dig deeper into why that's happening

On Thu, Dec 15, 2016, 05:51 Kristina Schneider <notifications@github.com>
wrote:

[2016-12-15 11:37] juliangruber commented on #15
this is not for dat desktop to solve, it's a hyper* issue. closing here as we haven't settled on a solution yet.

[2016-12-15 11:37] #15 closed

[2016-12-15 12:17] juliangruber commented on #74
pr here https://github.com/mafintosh/prebuild/pull/153

[2016-12-20 20:13] karissa commented on #86
I started it here: #118

[2016-12-27 19:01] rgbkrk opened #120 "Signed mac release"
I'd love to see the dat releases be signed so they don't come up with the unidentified developer warning. While slightly a miserable process with Apple (the fee is nothing compared to figuring out how they want everything situated), it's working really well for nteract and relieves new users of additional points of friction with new tools. To dat's success!

[2016-12-27 20:53] juliangruber commented on #120
Yes! I have a cert and the next release will be signed by it :)

[2016-12-27 20:54] juliangruber commented on #120
Afaik we just can't do this on travis, so we'll have to manually sign the releases instead of publishing them as part of our CI

[2016-12-27 21:14] rgbkrk commented on #120
Yeah, I've been manually signing our Mac release for nteract. 😞  @lgeiger is hoping to automate it with encrypted Travis tokens - we wouldn't want to run the Xcode build on every PR though, only releases.

[2017-01-02 15:34] yoshuawuyts opened #121 "[bug] appveyor failing"
It seems appveyor is failing for all our windows builds. Travis seems to be fine tho. cc/ @juliangruber any idea what's up?

[2017-01-02 15:35] yoshuawuyts commented on #101
@karissa any further thoughts on this?

[2017-01-02 16:04] yoshuawuyts commented on #86
tested and working! - closing this issue :tada: - thanks @karissa :sparkles:

[2017-01-02 16:04] #86 closed

[2017-01-02 17:12] juliangruber commented on #121
yeah, not all of our deps are working on windows yet. see https://github.com/datproject/dat/issues/581.

I left the appveyor CI enabled as a constant reminder, but wouldn't object to disabling it for now.

[2017-01-02 19:15] yoshuawuyts commented on #121
ahhh, yeah that makes a lot of sense - thanks for answering :D - I'm cool with leaving it in there as a reminder (:

[2017-01-02 19:15] #121 closed

[2017-01-02 19:56] karissa commented on #101
@Kriesse and I are now in the same place so we can chat in person a bit more. I generally agree with  the comments here

[2017-01-02 21:11] yoshuawuyts commented on #101
nice, keen to hear what y'all arrive on :D

On Mon, Jan 2, 2017 at 8:56 PM Karissa McKelvey <notifications@github.com>
wrote:

[2017-01-03 13:33] ambrt opened #122 "Can Dat Desktop be installed on Windows?"
I'm trying to "npm install" on windows but i get errors:
[code]

[2017-01-03 13:50] ambrt commented on #122
I installed http://gnuwin32.sourceforge.net/packages/make.htm

and i get
[code]

[code]

[2017-01-03 14:33] yoshuawuyts commented on #122
Not yet. We're working on prebuilt versions of Dat's native dependencies so
we can have it work smoothly on Windows too. See
https://github.com/datproject/dat/issues/581

On Tue, Jan 3, 2017 at 2:50 PM Rik <notifications@github.com> wrote:

[2017-01-03 14:57] ambrt commented on #122
Ok, thank you for answer.

[2017-01-03 14:57] #122 closed

[2017-01-03 16:17] karissa opened #123 "debug dialog with uncaught errors"
tell people something sane so they don't get too frustrated on errors

[2017-01-03 16:17] juliangruber opened #124 "error dialog"
tell people something sane so they don't get too frustrated on errors

[2017-01-03 16:18] yoshuawuyts commented on #124
duplicate of #123

[2017-01-03 16:18] #124 closed

[2017-01-03 16:21] yoshuawuyts opened #125 "expose dat-doctor"
Right now the most frustrating part of Dat is the protocol errors; having a way to debug our protocol from the desktop would be useful.

- discussed in the team call on 03/01/2016

[2017-01-03 17:35] yoshuawuyts opened #126 "[marketing] launch"
- [x] create blog post
- [x] formalize the way we spell dat-desktop
- [x] formalized one sentence description
- [x] update dat-desktop repo with new screenshot
- [ ] climate use case @maxogden
- [x] update dat-desktop repo with links to download page (github releases)
- [x] deploy latest datproject.org
- [x] tweet about the thing
- [ ] ~~Newsletter (@karissa)~~

[2017-01-03 17:36] #64 closed

[2017-01-04 06:23] #68 closed

[2017-01-04 11:06] juliangruber commented on #67
We need to run a releases server for this, and luckily there's a project already that simply uses GitHub releases as a backend. @mafintosh can we get this deployed on one of your machines?

https://nuts.gitbook.com/deploy.html

[2017-01-04 12:36] juliangruber commented on #67
i could also just spin up at DO droplet and start billing it

[2017-01-04 13:47] juliangruber commented on #125
https://github.com/joehand/dat-doctor/pull/2

[2017-01-04 18:33] karissa commented on #67
We have freee digital ocean, let's use it

[2017-01-04 18:52] joehand commented on #125
Published the JS API as dat-doctor 1.2.0.

[2017-01-05 00:00] Kriesse commented on #126
Correct Spelling: `Dat Desktop`

[2017-01-05 00:17] Kriesse commented on #126
Preparing datproject.org for the launch with @karissa here https://github.com/datproject/website/tree/desktop-app-launch

[2017-01-05 16:25] Kriesse commented on #67
@juliangruber what's the status on this? any chance we have it this week still?

[2017-01-06 15:36] juliangruber commented on #67
@Kriesse working on it today

[2017-01-09 00:11] yoshuawuyts commented on #125
I think for the UI we should perhaps make use of a lil modal that displays the info. Near-black background; something like that?

[2017-01-09 14:51] yoshuawuyts commented on #101
ping @karissa @Kriesse what'd you decide on?

[2017-01-09 21:30] yoshuawuyts opened #131 "switch to multidrive"
depends on https://github.com/datproject/dat-node/pull/65#issuecomment-270006163. Would make our code a bunch smaller I reckon. Any idea what else this would rely on @juliangruber?

[2017-01-10 00:08] karissa opened #132 "'Preview dat' page"
When you click on a web magnet link like `dat://` and it opens the desktop app, or copy-paste a link into 'import dat' box, there should be a preview page that connects to the swarm in `sparse` mode to collect metadata about the dat.

It should show, at a minimum:

1. file list,
2. size of the dat,
3. information from dat.json file (title, author)

Then the user can decide to hit OK or hit 'neverm

[2017-01-10 00:14] karissa opened #133 "Publish dat with a shortname"
Give a dat a short name so it can be accessed at `https://datproject.org/username/shortname`

"Publish a dat on the datproject.org registry. The Dat will be publicly viewable on the site http://datproject.org/"

See https://github.com/new for inspiration.

Error states:
  * A dat already exists with the same shortname on the same account.
  * A shortname must contain only `a-Z-` (like GitHub short

[2017-01-10 00:15] karissa opened #134 "Login screen"
People should be able to login from the desktop application

[2017-01-10 00:15] karissa opened #135 "Register screen"
Users should be able to register from the desktop app. Perhaps open a window in the browser? Needs a design

[2017-01-10 00:16] Kriesse commented on #132
@karissa 👍

I'll work on a simple mockup. Do you have any screenshots of the torrent clients available? I'll also see if I find any examples.

[2017-01-10 00:20] Kriesse commented on #126
@karissa Can you help with the 1-sentence description? Maybe also have a slightly longer, 3-5 sentence one?

I think this is important to stick with the same, consistent wording, to establish a clear idea of what Desktop is, within the team and most importantly our audience. We should aim to use this on the blog, tweets, front page etc.

[2017-01-10 02:16] karissa commented on #132
Great, thanks @Kriesse !

We might be able to use some of the design from the datfolder archive page, maybe?

Here's the screen from uTorrent:

![](
https://expertester.files.wordpress.com/2011/12/021.png)

[2017-01-10 13:08] juliangruber commented on #131
not that i'm aware of!

[2017-01-10 16:51] #123 closed

[2017-01-10 18:00] Kriesse opened #136 "dat.author needs a default"
What should we show if there’s no author? "Anonymous"? Or just an empty string?
Can we show "My Dat" when I created the Dat?
https://github.com/datproject/dat-desktop/blob/master/elements/table.js#L230

Right now it looks like this (empty string before the dot):

![image](https://cloud.githubusercontent.com/assets/53684/21818153/9a133f10-d71b-11e6-8b42-63bd004e22b2.png)

[2017-01-10 19:25] karissa commented on #136
'Anonymous' vs. 'My Dat' is good.

[2017-01-11 17:28] Kriesse opened #137 "Create Example for Screenshots/Demo Videos"
To have consistent marketing materials, we need a good example of Dat Desktop in use, one that we can base all screenshots on, or create short animated gifs for the website, twitter etc.
We need a list of 5 registered/named Dats, they should be the same as the example datasets on datproject.org.

[2017-01-11 17:28] yoshuawuyts opened #138 "[QA] v1.1.0"
In order to verify `dat-desktop@1.1.0`  works as expected we should do some Quality Assurance (QA) before releasing.

---
### todos

#### crash reporting
- [x] make sure error logs come through (@yoshuawuyts)

#### downloading/installation
- [x] verify http://datproject.org/ has instructions to download the correct latest release
- [x] verify the nice 'disk image' designed background comes up when

[2017-01-12 10:53] juliangruber commented on #67
@Kriesse in light of the issues with the "check for updates" menu bar item raised in the call, how do we progress with this UX wise?

What hyper does is pretty elegant IMO.

[2017-01-12 11:04] juliangruber commented on #138
what specific archives do we want to test this with? I'm thinking

- lot's of small files
- few big files
- regular archive

[2017-01-12 11:21] juliangruber commented on #138
empty state missing (i had archives in there before but deleted them)

![screen shot 2017-01-12 at 12 20 52](https://cloud.githubusercontent.com/assets/10247/21887777/98004216-d8c1-11e6-9fdd-4a840815e86a.png)

[2017-01-12 11:21] juliangruber commented on #138
which empty states are there?

[2017-01-12 11:25] juliangruber commented on #138
creating a new dat doesn't work

<img width="829" alt="screen shot 2017-01-12 at 12 25 17" src="https://cloud.githubusercontent.com/assets/10247/21887893/38a03a6e-d8c2-11e6-8d27-9d3f3e216463.png">

[2017-01-12 13:30] juliangruber opened #140 "screen flickers when replicating dat while share dialogue is open"

[2017-01-12 13:39] juliangruber opened #141 "no progress updates while downloading dat"
<img width="843" alt="screen shot 2017-01-12 at 14 39 13" src="https://cloud.githubusercontent.com/assets/10247/21891859/f046996c-d8d4-11e6-8095-bd9d9ec75712.png">

First check if progress events aren't emitted properly or just the UI isn't updating.

[2017-01-12 13:39] juliangruber commented on #141
<img width="843" alt="screen shot 2017-01-12 at 14 39 13" src="https://cloud.githubusercontent.com/assets/10247/21891859/f046996c-d8d4-11e6-8095-bd9d9ec75712.png">

[2017-01-12 13:41] yoshuawuyts commented on #140
Got a screen cap of this? This has happened in the past and is difficult to
recreate

On Thu, Jan 12, 2017, 14:30 Julian Gruber <notifications@github.com> wrote:

[2017-01-12 13:45] juliangruber opened #142 "error re-importing dat"
1) Download a dat
2) Remove the dat
3) Download the same dat again

<img width="667" alt="screen shot 2017-01-12 at 14 45 40" src="https://cloud.githubusercontent.com/assets/10247/21892042/d07ce518-d8d5-11e6-9f2e-15d8bb889cec.png">

[2017-01-12 13:54] yoshuawuyts commented on #142
Looks like we should be using mkdirp right?

On Thu, Jan 12, 2017 at 2:45 PM Julian Gruber <notifications@github.com>
wrote:

[2017-01-12 15:22] #141 closed

[2017-01-12 15:26] juliangruber commented on #140
sure: https://youtu.be/vhkw7a1Cczc

[2017-01-12 15:26] juliangruber commented on #140
it's flickering whenever the repo update event fires

[2017-01-12 15:35] juliangruber opened #143 "error importing dat:// link"
<img width="718" alt="screen shot 2017-01-12 at 16 35 36" src="https://cloud.githubusercontent.com/assets/10247/21896036/2b2a04b4-d8e5-11e6-9088-7716a8fe769d.png">

[2017-01-12 15:36] #142 closed

[2017-01-12 15:39] #143 closed

[2017-01-12 17:59] yoshuawuyts commented on #125
We could use https://gist.github.com/maxogden/5953535 for a fancy thing; devtools for an MVP (:

[2017-01-12 18:01] maxogden commented on #137
related: https://github.com/datproject/datfolder/issues/368

[2017-01-12 18:15] maxogden opened #144 "remove login button"
we're not doing accounts on the first release, we can add it back later

[2017-01-12 18:15] Kriesse commented on #67
@juliangruber Cool, I like that pattern let's do the hyper-way then.

Note that this is a bit different from the modal we already have. I think this is the behavior we want:

- show a small, sticky notification that reads `Version X.X.X is ready. Restart to install`
- notification appears after restart when a new version is ready
- clicking "Restart to install" closes app and starts the update
- n

[2017-01-12 18:20] yoshuawuyts commented on #67
@Kriesse I believe Spotify hides the notification until the next time the application is booted; I think that could be reasonable

[2017-01-12 18:20] karissa commented on #140
I wouldn't say this is critical for the stabilize milestone

[2017-01-13 09:53] juliangruber commented on #140
when this happens it's almost impossible to dismiss the dialogue, so it's also a functionality bug.

[2017-01-14 14:20] yoshuawuyts commented on #144
I think this is fixed already; not seeing a login button anymore

<img width="1280" alt="screen shot 2017-01-14 at 15 19 40" src="https://cloud.githubusercontent.com/assets/2467194/21955515/efb2f74a-da6c-11e6-82c0-57284c52907a.png">

[2017-01-14 14:20] #144 closed

[2017-01-14 18:05] yoshuawuyts commented on #21
Started work on a crash report server here https://github.com/yoshuawuyts/crash-reporter-service

[2017-01-15 07:24] yoshuawuyts commented on #21
server now accessible on https://crash-reporter.dat.land

[2017-01-15 17:27] alugarius opened #145 "can't use it, never used javascript - blease help debugging"
![bildschirmfoto vom 2017-01-15 18-26-42](https://cloud.githubusercontent.com/assets/16763352/21964638/3605eb88-db50-11e6-865b-a1b4d8a228c6.png)

[2017-01-16 08:12] juliangruber commented on #145
I'm getting an access denied error on that url as well, will debug this today.

[2017-01-16 08:28] juliangruber commented on #145
can you please paste the whole output of the npm install command, or simply the created `npm-debug.log`?

[2017-01-16 11:04] juliangruber commented on #125
check out https://github.com/datproject/dat-desktop/pull/128 for a devtools MVP

[2017-01-16 15:59] yoshuawuyts commented on #140
This bug is really cool; it triggers for me when I hit "copy"

[2017-01-16 16:56] juliangruber commented on #125
shall we consider this done and open an issue on a future milestone for a nicer UI version?

[2017-01-16 18:29] Kriesse commented on #138
After downloading and opening for the first time, I see a blank app:
![image](https://cloud.githubusercontent.com/assets/53684/21994857/add4f13c-dbd6-11e6-96fd-4f51ddb993ab.png)

[2017-01-16 18:31] Kriesse commented on #138
When I tried to close the app, i got this:
![image](https://cloud.githubusercontent.com/assets/53684/21994902/e82945ea-dbd6-11e6-8e36-1ef815ec3ae3.png)

[2017-01-16 18:33] Kriesse commented on #138
devtools show this for the blank window:
![image](https://cloud.githubusercontent.com/assets/53684/21994958/397d094a-dbd7-11e6-9dbd-a4cb030ee3bf.png)

[2017-01-16 18:34] juliangruber commented on #138
this looks like a browserify problem...it's using absolute paths for the binding files

[2017-01-16 20:01] karissa commented on #125
Sounds good!

[2017-01-16 20:01] #125 closed

[2017-01-17 11:20] yoshuawuyts opened #147 "[QA] sometimes dat is corrupted, and need to delete ~/downloads/dat"
Sometimes dat is corrupted, and need to delete `~/downloads/dat`. I believe it was a db lock error. It could possibly be because I was running two instances of dat desktop (not sure, guessing here) and we should not allow for that to happen.

[2017-01-17 13:33] yoshuawuyts opened #148 "Investigate using the electron crash reporter service"
Apparently Electron has a built-in crash reporter service; it might be neat to investigate using that. In the event that we do, we'd probably want to build a small package to wrap it so we catch all errors.

[2017-01-17 13:36] yoshuawuyts opened #150 "Validate only one instance of Dat Desktop is running"
As per https://github.com/datproject/dat-desktop/issues/147 we probably want to validate only one instance of dat-desktop is running.

### Todos
- [x] investigate how to prevent booting if an instance of Desktop is already running
- [x] write implementation to provide this check; show a nice, user-friendly message if it's the case
- [x]  split off implementation to a separate module

[2017-01-17 13:40] juliangruber commented on #150
we can just catch the lock error on the leveldb instance for this :)

[2017-01-17 13:54] yoshuawuyts opened #151 "Post-fix cleanup for #149"
#149 introduced a series of fixes for our modules. This issue is here to track the cleanup we need to do now that it's merged, as we're currently running a bunch of forks.

- [x] Formalize the `bindings-browserify` [fork]( https://github.com/juliangruber/bindings-browserify). It's currently used through [aliasify](https://github.com/benbria/aliasify); we should probably find a way to either contri

[2017-01-17 14:01] yoshuawuyts commented on #150
There's also https://github.com/republicwireless-open/electron-single-instance which in turn recommends using [app.makeSingleInstance()](https://github.com/atom/electron/blob/master/docs/api/app.md#appmakesingleinstancecallback) - maybs that's a good one to use?

[2017-01-17 15:04] yoshuawuyts commented on #147
Closing in favor of #150 - better worded (:

[2017-01-17 15:04] #147 closed

[2017-01-17 15:26] yoshuawuyts commented on #148
As per #146 https://github.com/electron/electron/blob/master/docs/api/crash-reporter.md

[2017-01-17 15:31] yoshuawuyts commented on #148
Looks like they use the `breakpad` format - hadn't heard of that before. Might be worth digging into and expanding our `crash-reporting-service` for.

The `electron/mini-breakpad` service is an unmaintained coffeescript service; the mozilla implementation looks rather complicated to boot up. I think if we make some schema changes we should be able to support it with relatively little effort (:

[2017-01-17 15:39] #21 closed

[2017-01-17 16:01] yoshuawuyts opened #152 "Improve renderer performance"
## todos
- [ ] cache elements (#250)
- [ ] switch off `morphdom` to `nanomorph` (https://github.com/yoshuawuyts/choo/issues/152)

---
## Issue
Looks like doing renders in quick succession means the app starts binging on resources. We've got some solid offenders in there:
- __12%__ the `copier` function from `yo-yo` to copy events. Can be fixed by switching to `nanomorph`
- __25%__ `log`, `groupCol

[2017-01-18 01:19] Kriesse opened #153 "crypto_secretbox_easy error"
Not sure what's happening or if this is tracked yet, but I get this when running the app locally. Either right after starting, or when attempting to import a Dat.

![image](https://cloud.githubusercontent.com/assets/53684/22046963/f4d0aa38-dcd8-11e6-90d1-fa6dfdc3cc25.png)

[2017-01-18 01:23] Kriesse commented on #137
Closing, tracking in https://github.com/datproject/datfolder/issues/368

[2017-01-18 01:23] #137 closed

[2017-01-18 14:05] juliangruber commented on #153
I think @yoshuawuyts had this before too. Maybe try with a fresh set of dependencies, `rm -Rf node_modules && npm cache clean && npm install`.

[2017-01-18 14:05] juliangruber commented on #138
fix in https://github.com/datproject/dat-desktop/pull/154

[2017-01-18 15:30] juliangruber commented on #152
Debouncing page updates sounds good to me!

Shall we create individual issues for each mentioned optimization?

[2017-01-18 21:30] okdistribute opened #155 "Make integration tests for QA"
hey yall

We need some tests!

Here's an example testing script:
- https://github.com/datproject/dat-desktop/issues/138

#### working with dats
- [x] click 'create new dat' and share a local folder, you should see a new item in the list
- [x] click the link icon and it should copy the dat link to your clipboard
- [x] click the open in finder icon and it should open the folder in Finder.app
- [x] c

[2017-01-18 21:50] Kriesse commented on #153
@juliangruber tried a fresh set of deps, still seeing the same error as soon as i
either
a) import a dat
or
b) someone else tries to connect to a dat that i created from a local folder

[2017-01-18 22:07] karissa commented on #153
Seems like it is something to do with a bad electron rebuild, running `npm run rebuild` does not fix it.

[2017-01-18 22:42] karissa commented on #153
doing `rm -rf ~/.electron && npm run clean && npm run rebuild && npm run bundle` seemed to work for me, will work with kriesse to get this working

[2017-01-18 22:43] karissa commented on #153
try also:
[code]

[2017-01-18 23:58] yoshuawuyts commented on #153
Have you tried clearing your cache? I ran into something similar until it
somehow went away

On Wed, Jan 18, 2017, 22:50 Kristina Schneider <notifications@github.com>
wrote:

[2017-01-19 01:04] Kriesse commented on #153
yup, tried with fresh dependencies + clear cache a few times, didn't help

[2017-01-19 01:13] karissa commented on #153
I updated the rebuild script in package.json -- if I run `npm rebuild` directly, it seems to work.

[code]

[2017-01-19 10:40] juliangruber commented on #153
I cleared all caches on my machine and did a fresh install but still don't get that error.

The dependency in question here is sodium-prebuilt, which lives in the tree at

![screen shot 2017-01-19 at 11 39 49](https://cloud.githubusercontent.com/assets/10247/22103588/07a67c50-de3c-11e6-9789-2ee81b226d2a.png)

Which node version are you using? Can you try this: Upgrade to latest node, then do the s

[2017-01-19 12:52] yoshuawuyts commented on #153
Yeah, this was the exact same error I had - and then it suddenly went away;
suspect it might indeed be cache related / requires a rebuild.

On Wed, Jan 18, 2017 at 3:05 PM Julian Gruber <notifications@github.com>
wrote:

[2017-01-19 14:03] juliangruber commented on #67
let's address nightlys later, for now this is done!

[2017-01-19 14:03] #67 closed

[2017-01-19 14:08] juliangruber opened #156 "empty dats state improvements"
make this a bit more clear, at least i found it confusing. @Kriesse seems to be on it :)

[2017-01-19 18:08] Kriesse commented on #153
@juliangruber I'm on v6.2.2, which version should I try?

[2017-01-19 19:06] juliangruber commented on #153
hm very strange, that should def. be new enough. do you maybe have a chance to debug this with @yoshuawuyts?

[2017-01-20 13:29] yoshuawuyts commented on #155
I think using tape for some of our basic state mutations would be good;
having the full range of integration tests might take a bunch of time and
right now is perhaps not the right time for that.

So far non-IO unit tests have been easy to write for our crash service, and
I think that might be great for an initial pass (:
https://github.com/yoshuawuyts/crash-reporter-service/tree/master/tests

I t

[2017-01-20 13:38] yoshuawuyts commented on #152
juliangruber, yeah if you want to - I'm not necessarily fussed about
splitting these into multiple issues because each of these should be fairly
easy to resolve? But that's me, no objections if you want to split 'em tho
(:

On Wed, Jan 18, 2017 at 4:30 PM Julian Gruber <notifications@github.com>
wrote:

[2017-01-20 15:29] karissa commented on #155
As long as the tests catch bugs before users see them, that's what matters !

[2017-01-20 18:42] Kriesse opened #159 "Window is not draggable on welcome screen"
probably because no top bar is defined?

[2017-01-20 19:31] maxogden commented on #153
@yoshuawuyts tried debugging this with @Kriesse today and got into this state after trying everything, seems to happen every time on her machine:

![screen shot 2017-01-20 at 11 30 13 am](https://cloud.githubusercontent.com/assets/39759/22162540/f5bbb208-df03-11e6-9573-0df6709206fb.png)

notice how i can `require('sodium-prebuilt')` just fine in the console, but in the bundle it fails. do you thin

[2017-01-20 23:17] yoshuawuyts commented on #159
Yeah, I think so

[2017-01-20 23:47] yoshuawuyts commented on #145
ping @alugarius

[2017-01-21 10:52] #136 closed

[2017-01-22 08:33] juliangruber commented on #153
@maxogden @Kriesse can you post the `bundle.js` somewhere so I can try running it locally?

[2017-01-22 13:32] yoshuawuyts commented on #140
ah ok, it's because of the nested `onload` stuff - dang, knew I had to try a better design. On it now tho; gonna polish this puppy :sparkles:

[2017-01-22 17:37] yoshuawuyts commented on #131
seems like the branch landed, this is now possible (:

[2017-01-22 21:48] yoshuawuyts commented on #159
I'm not able to reproduce it, I can drag my window around without a problem

[2017-01-22 22:22] yoshuawuyts commented on #159
Weird, but then the latest build version I tried I suddenly can't drag it anymore. I think your instinct is right and we should restore the top bar

[2017-01-22 22:36] yoshuawuyts opened #163 "Extra guards for indexeddb / leveldb"
Currently our DB instances can get corrupted by upgrading versions or opening multiple instances of the client. The checks introduced in https://github.com/datproject/dat-desktop/pull/162 work well for end users because they only have a single binary they can run, but for us devs we might get in trouble if we try to develop while running another client in the background.

Here's some things I sugg

[2017-01-22 22:39] yoshuawuyts opened #164 "menubar icon"
Might be useful if a menubar icon shows up, like google drive and the like.

cc/ @juliangruber I believe you did some work on this before, but then got stuck. If you still have a patch around, even a basic version would be great I reckon (:

cc/ @Kriesse any thoughts on design? I quite like menubar icons because they inform me what's going on - but perhaps you had something different in mind?

[2017-01-22 22:40] yoshuawuyts commented on #152
Implementing debounce in #161 - has limited effects, but useful regardless. I think having a multidrive / dat-next refactor will help improve this even more.

[2017-01-23 00:15] yoshuawuyts commented on #145
Closing due to inactivity; let us know if we can help you in any other way (:

[2017-01-23 00:15] #145 closed

[2017-01-23 00:16] yoshuawuyts commented on #164
oops, duplicate of #53

[2017-01-23 00:16] #164 closed

[2017-01-23 00:18] karissa commented on #159
Webtorrent has a styled top bar we could borrow code from I believe, that is also draggable! Not sure how important it is though right now to have it styled as long as its draggable. Can push styling of it to a later issue!

[2017-01-23 01:14] yoshuawuyts commented on #138
I'm having trouble downloading _very large_ dats, e.g. `f34f99538702f3b55ea3b88c9e374fb72db0ca35903c2249aaa09280accc2062` - gets stuck at `0b / 100%`

[2017-01-23 01:22] yoshuawuyts opened #166 "UI for syncing metadata"
On _very large dats™_ it can take a while to sync the metadata. This happens before any chunks get downloaded, so the progress stays at 0% for a while. This is why in the CLI we show two progress bars. I was wondering if we could perhaps come up with a good way to signal this in the desktop too.

cc/ @Kriesse got any ideas for this perhaps?

---
### cli screenshot
<img width="787" alt="screen shot

[2017-01-23 10:48] juliangruber commented on #166
What if we show the total percentage of metadata + content downloaded?

[2017-01-23 12:44] juliangruber opened #167 "delay between "create new dat" and when it's rendered"

[2017-01-23 13:10] juliangruber opened #168 "upgrade to dat-node@latest"
for #167

[2017-01-23 15:23] #74 closed

[2017-01-23 15:23] #140 closed

[2017-01-23 15:28] #150 closed

[2017-01-23 22:35] #153 closed

[2017-01-24 12:47] juliangruber commented on #167
being addressed in #168

[2017-01-26 12:00] juliangruber opened #171 "share dialog dismisses itself"
this is the flow of events after me only opening the share dialogue:

![screen shot 2017-01-26 at 12 59 19](https://cloud.githubusercontent.com/assets/10247/22330596/56fc8b06-e3c7-11e6-80bc-0e1e53c12bbe.png)

[2017-01-26 14:13] juliangruber commented on #166
see #174

[2017-01-26 21:51] karissa commented on #85
Broken again :(

[2017-01-26 22:04] Kriesse commented on #138
ping #155

[2017-01-26 22:26] Kriesse opened #175 "Download Tracker/Download Stats"
Track downloads of the app.

[2017-01-26 22:29] Kriesse commented on #63
@juliangruber Is there a way to download the automated builds from Travis?

[2017-01-26 23:11] Kriesse opened #176 "Truncate dat name / link"
The link and/or name in the first column of the list is being cut off. Can we have nice `…` truncation please?

![image](https://cloud.githubusercontent.com/assets/53684/22354321/a0b5160c-e3d9-11e6-9277-211a44436f7d.png)

[2017-01-27 01:27] Kriesse opened #178 "Update icon.icns and "drag to applications" background graphic"
they still use old design, need updating

[2017-01-27 01:37] Kriesse opened #179 "Give user feedback if they attempt to import a Dat that's already there"
e.g. a modal

[2017-01-27 01:40] Kriesse opened #180 "Highlight an imported/created Dat in the list"
In longer lists, it becomes hard to find the Dat you just added, so it should be highlighted visually, e.g. with a yellow background that fades out.

[2017-01-27 01:48] Kriesse opened #181 "scroll the content area only, not the entire app"
current status:

![image](https://cloud.githubusercontent.com/assets/53684/22357836/a92ed654-e3ef-11e6-9f6c-42b81908723a.png)

[2017-01-27 01:50] Kriesse opened #182 "Progress bar in progress should be blue not green"
current status:

![image](https://cloud.githubusercontent.com/assets/53684/22357868/e3a73b3c-e3ef-11e6-8c9c-1e433d2aef8b.png)

[2017-01-27 02:07] Kriesse opened #183 "Add label and/or tooltip to line actions"
Current status:

![image](https://cloud.githubusercontent.com/assets/53684/22358232/3cd7d6ec-e3f2-11e6-962c-4010d343c46e.png)

[2017-01-27 02:26] Kriesse opened #184 "Complete status icons"
They're confusing right now, need redesign. The current icons do not represent the possible states.

## Download Status:

- downloading ("in progress")
- downloading complete
- not downloading (because not connected to network)
- not downloading (because paused by user)

## Upload Status:

- uploading ("in progress")
- not uploading (because not connected to network)
- not uploading (because pause

[2017-01-27 13:44] juliangruber opened #185 "let author add/edit metadata (title, author)"
We can use in place editing for setting `.title` and `.author` in `dat.json` via the desktop app!

[2017-01-27 19:44] yoshuawuyts opened #186 "Importing dats from the beta.datproject.org doesn't work"
E.g. `79cf7ecc9baf627642099542b3714bbef51810da9f541eabb761029969d0161b` gets stuck at 100% / 0bytes, no error

[2017-01-30 13:26] juliangruber commented on #63
not yet, we need to make it upload those to github releases or somewhere else. I'll try creating a "nightly" release on github that each successful build will be uploaded to.

[2017-01-30 13:54] juliangruber commented on #85
@karissa i can't reproduce, dropping a folder works for me. can you post a screen cap or stack trace?

[2017-01-30 14:08] juliangruber opened #187 "Run the `watch` task in process"
This way it's always keeping bundles up to date in dev, and no need to keep a second terminal open

[2017-01-30 18:44] juliangruber commented on #63
@Kriesse starting current #master, builds now always show up in the latest draft release! current one is https://github.com/datproject/dat-desktop/releases/tag/untagged-4024b3636b599fbc021c

[2017-01-30 18:46] #63 closed

[2017-01-30 19:56] yoshuawuyts commented on #187
Prior art https://github.com/yoshuawuyts/playground-bankai-in-electron

[2017-01-30 19:58] yoshuawuyts commented on #187
Some stuff I ran into:
- the output when compiling needs to be in the root dir. e.g. `./bundle.js`. Doing `./dist/bundle.js` wouldn't work.
- haven't figured out how to exclude `watchify`, `browserify` and the like (dev deps) from the production bundle - this is a hyper optimization tho, and unless we come up with something trivial not worth spending time on I reckon

[2017-01-30 21:13] juliangruber commented on #187
We could also instead of serving bundles via http run the watch task and make it write the bundle to disk, which would be the simplest change for now, albeit less flexible

[2017-01-30 21:13] juliangruber commented on #187
we could do something like, on bundle copy the app folder to a temporary folder, remove dev deps from package.json, re install deps, bundle

[2017-01-30 23:19] yoshuawuyts commented on #187
Oh actually, we could do `npm prune --production` I think to remove all dev
deps :D - saves us a whole bunch of reinstalling - def digging this idea

On Mon, Jan 30, 2017 at 1:13 PM Julian Gruber <notifications@github.com>
wrote:

[2017-01-31 00:08] yoshuawuyts commented on #171
https://github.com/yoshuawuyts/base-elements/commit/8a274ca013356e6a13159385a029d495e92f6f91 might fix this

[2017-01-31 00:15] yoshuawuyts commented on #171
let's reopen this if it keeps happening

[2017-01-31 00:15] #171 closed

[2017-01-31 17:16] juliangruber commented on #187
PR in #189

[2017-02-01 04:58] Kriesse commented on #182
@yoshuawuyts Tried to debug, turns out it's not a styling problem.
Two issues I need your now less jetlagged eyes on:

- The styles are there, the blue bar just never shows because the right class (`line-loading`) is never applied.

- Minor, but: the animated stripes on the bar don't move, the animation does not work. It should look like here: http://datproject.github.io/design/
I gave up on debug

[2017-02-01 04:59] Kriesse commented on #176
Found a CSS solution, yay! Closing.

[2017-02-01 04:59] #176 closed

[2017-02-01 04:59] Kriesse commented on #181
Done.

[2017-02-01 08:28] yoshuawuyts commented on #181
woot!

On Tue, Jan 31, 2017 at 8:59 PM Kristina Schneider <notifications@github.com>
wrote:

[2017-02-01 12:41] #187 closed

[2017-02-01 17:18] yoshuawuyts opened #191 "Move to bankai"
As per https://github.com/datproject/dat-desktop/pull/189 it'd be neat if we could move from our custom `browserify` build script to bankai. The less we need to maintain inside the project, the better :sparkles:

[2017-02-02 10:11] juliangruber commented on #186
no sources found on beta.datproject.org either https://beta.datproject.org/view/79cf7ecc9baf627642099542b3714bbef51810da9f541eabb761029969d0161b

[2017-02-07 18:00] #168 closed

[2017-02-09 10:51] juliangruber commented on #85
bump

[2017-02-10 09:10] #181 closed

[2017-02-10 09:27] yoshuawuyts commented on #175
we can access stats through http://www.somsubhra.com/github-release-stats/?username=datproject&repository=dat-desktop :sparkles: - good enough for now I reckon

[2017-02-10 09:27] #175 closed

[2017-02-10 10:50] Kriesse commented on #178
done:

![image](https://cloud.githubusercontent.com/assets/53684/22824182/0ebb21ba-ef87-11e6-906c-5addaeacb459.png)

[2017-02-10 10:50] #178 closed

[2017-02-10 10:55] Kriesse opened #200 "Welcome screen shows on new install even if you already have dats"
@yoshuawuyts As discussed – If you do a fresh install of the app and open it for the first time, the welcome screen shows, even if you already have Dats in your Dat directory.

[2017-02-10 13:26] #156 closed

[2017-02-10 14:00] yoshuawuyts opened #206 "Welcome screen should be dismissable with the keyboard"
Caught myself pressing enter to dismiss it twice now; should probably allow for space bar / enter to dismiss it

[2017-02-10 14:15] yoshuawuyts commented on #166
Metadata syncing isn't taking too long now so it's not too much of a problem; once https://github.com/datproject/dat/issues/638 is fixed I think we can revisit this probably as it's easy to add - should take a few weeks (:

[2017-02-10 15:55] #159 closed

[2017-02-10 16:14] Kriesse opened #209 "Improve user error feedback UX: Show modal when user enters something invalid into "import dat""
@yoshuawuyts as discussed, let's do this:

- [x] when it is not a dat link: Show a modal "Not a Dat Link. Looks like you entered something that we can not import. Please enter a valid Dat link.'
- [ ] when it is a dat link, but is already imported: Show a modal "Already imported Dat. This Dat has already been imported. You can find it in your list of Dats."

Copy is just a starting point, let’s re

[2017-02-10 16:26] Kriesse commented on #126
ping @maxogden – what was the last point in the checklist ("climate use case") about again? Is that done?

[2017-02-10 17:13] Kriesse opened #210 "Error when re-creating a Dat"
When I remove a Dat, delete it from disk, and then re-add it again via "import dat" in the app, this happens:

<img width="996" alt="screen shot 2017-02-10 at 6 10 38 pm" src="https://cloud.githubusercontent.com/assets/53684/22836353/5041e1fc-efbc-11e6-83b5-6f55748c8a3d.png">

When I refresh the app, it works. We sometimes get random DB.Lock errors; @joehand any ideas what we can do for this?

[2017-02-10 17:58] #182 closed

[2017-02-10 18:02] Kriesse commented on #126
ping @karissa – thoughts about tweets/newsletters/blogpost? happy to help, let me know what is needed!

[2017-02-10 18:04] joehand commented on #210
Something in a recent hyperdrive/hypercore update made it so `dat.close` is not working.

Tracking that issue in dat-node https://github.com/datproject/dat-node/issues/98

[2017-02-10 18:22] Kriesse commented on #85
Tested the latest build on my and @yoshuawuyts machines:
- drag and drop a folder to create new dat: works ✅
- drag and drop a single file: does not work – but i believe that is expected?

@karissa: Can you still reproduce?

[2017-02-10 18:23] #167 closed

[2017-02-10 18:24] Kriesse commented on #186
ping @karissa

[2017-02-10 18:25] #200 closed

[2017-02-10 18:29] yoshuawuyts commented on #210
@joehand Ooph, rough. We're thinking of adding a lil UI thing to restart the app from the drop down menu if needed. Would be cool if this could be somewhat high on the priority list tho; would def be helpful for when we push this into the public.

[2017-02-10 18:30] Kriesse opened #212 "Stats reported incorrectly when creating new dat"
When I drag and drop a folder to create a new dat, it says "0B"

![image](https://cloud.githubusercontent.com/assets/53684/22838551/ff945802-efc5-11e6-9269-9fea66a66324.png)

[2017-02-10 18:41] karissa commented on #85
Great, letscall it fixed! Yeah we are still doing only folders because we are trying to be feature parity with the cli

[2017-02-10 18:41] #85 closed

[2017-02-10 18:57] joehand commented on #210
Definitely high priority! I think its related (or at least started) with the replication problems https://github.com/datproject/dat/issues/635.

Tried some quick fixes yesterday but didn't get anything working. I'm hoping it fixes itself when we fix these replication issues, if not its next on the list.

[2017-02-10 19:01] Kriesse opened #213 "When app crashes, give user options to recover"
When app crashes, give user last resort options to clear database / delete date, but make very clear that these actions are destructive.

### Note: Rough wireframe, not final colors etc:
![image](https://cloud.githubusercontent.com/assets/53684/22839829/533e717c-efcb-11e6-8b0b-36e0b4b04e38.png)

[2017-02-10 19:17] maxogden opened #214 "full screen animation looks kinda weird"
on mac when i click full screen it does this during the transition:

![screen shot 2017-02-10 at 11 16 29 am](https://cloud.githubusercontent.com/assets/39759/22840448/71b279d0-ef82-11e6-9918-d15ad8a452aa.png)

not super important but thought I'd log it in case anyone knows a quick fix

[2017-02-10 19:22] maxogden commented on #138
@Kriesse on " check that number of sources is correct" above, i see this:

![screen shot 2017-02-10 at 11 21 44 am](https://cloud.githubusercontent.com/assets/39759/22840624/20907c90-ef83-11e6-9eb7-8c6a8a0546b3.png)

but I can't see any indication of number of sources

[2017-02-11 01:31] karissa commented on #126
tweet:  'Today we released Dat Desktop for Mac OSX. Come give it a spin! <link>'
newsletter: blog post text

[2017-02-11 01:34] karissa commented on #126
dat is 'Dat is the package manager for data. Easily share and version control data using our powerful command line tool and javascript library. '

so dat desktop could be

'Dat Desktop is for easily downloading, sharing, and version controlling data without a central servers. Secure, distributed, fast.'

[2017-02-11 02:18] karissa opened #215 "if you hit 'create dat' before manager is populated it errors out"
<img width="929" alt="screen shot 2017-02-10 at 6 16 56 pm" src="https://cloud.githubusercontent.com/assets/633012/22850371/1f4d211e-efbd-11e6-9ada-cd85119676f8.png">

Lokos like the manager is created as part of some waterfall tasks but it still renders the 'create' button before the `manager` variable is populated...

[2017-02-11 09:17] #212 closed

[2017-02-11 09:20] yoshuawuyts commented on #214
hahaha, oh wow - yea not entirely sure what's going on there. Just for
reference: which MacOS version are you running?

On Fri, Feb 10, 2017 at 8:17 PM maxogden <notifications@github.com> wrote:

[2017-02-11 09:25] yoshuawuyts commented on #214
@kriesse I suspect it might be that the hex code of the electron background is slightly different from our `neutral` color; just spotted it too when resizing

[2017-02-11 14:00] yoshuawuyts commented on #215
Fixed by https://github.com/datproject/dat-desktop/pull/217

[2017-02-11 14:01] yoshuawuyts commented on #213
@Kriesse what's the color of the yellow background there?

[2017-02-11 14:02] yoshuawuyts commented on #213
oh hold on, looks like `--color-yellow-disabled` http://datproject.github.io/design/ :sparkles:

[2017-02-11 15:24] yoshuawuyts opened #218 "generate brew install script"
stumbled on [pup](https://github.com/ericchiang/pup) which has a clever trick to do homebrew installs:
[code]
resolves to:
[code]
Which in turn we can use for `dat-desktop`. Think this is pretty cool; perhaps we could even leverage this to bundle the `dat` command. For all those folks that for whatever reason can't pull node onto their system first

[2017-02-11 16:42] yoshuawuyts opened #219 "formalize our styled components"
Noticed our buttons and a few other components weren't as flexible as they
could be. I wanted to set some custom style tags, but wasn't able to. Our
current API looks like this:
[code]

Instead I reckon it might be better if we enumerate our different type of
elements in JS, and allow passing in an object with properties directly. This
is very feasiable because `bel` knows how to expand and apply

[2017-02-11 20:41] karissa commented on #218
Hell yeah we need this for dat.. most people don't want to use npm to install.

Probably makes less sense for dat desktop cause ppl can download it as a dmg already, right?

[2017-02-11 23:15] Kriesse commented on #219
Looks great – wasn't happy with the current solution anyway but didn't know how to improve it. This looks much more intuitive. It would be helpful for me to see a few more examples (or build them together).

[2017-02-12 10:51] yoshuawuyts commented on #219
Woot, yeah let's do it!

[2017-02-12 11:15] #215 closed

[2017-02-12 17:19] yoshuawuyts commented on #214
Looks like it might be a regression of https://github.com/electron/electron/issues/4992

[2017-02-12 23:08] Kriesse commented on #209
@yoshuawuyts How can I trigger this dialog? (Would like to review it – I guess except visual tweaks this is done?)

[2017-02-13 08:49] yoshuawuyts commented on #209
@Kriesse In the console do:
[code]

[2017-02-13 08:51] yoshuawuyts commented on #186
seems like the cali civic data is working fine; densho and nasa seem down :(

[2017-02-13 09:31] yoshuawuyts opened #223 "architecture improvements for user accounts milestone"
In preparation for user accounts we should probably take a closer look at how we're modeling our data. As per #152 we know our performance isn't great, and if we're going to add more complexity it might be worth taking a closer look at how we're doing things. I feel we're not doing a bad job, but we've got a few hacks right now that we should probably figure out to keep the project clean.

### det

[2017-02-13 10:05] #213 closed

[2017-02-13 11:00] Kriesse commented on #186
For launch day: Can we have those example datasets on more than one server?

[2017-02-13 11:25] Kriesse commented on #186
@clkao Can you help with this?

[2017-02-13 23:11] karissa commented on #186
this seems like an issue with the dats currently up on the site, theyre fixed now

[2017-02-13 23:11] #186 closed

[2017-02-14 02:12] joehand opened #227 "Network number after disconnect does not update"
The `peer.once('close')` event is called before the peer count gets changed. So the number doesn't update when `update` is called on close. The count goes down [when this happens](https://github.com/mafintosh/discovery-swarm/blob/master/index.js#L338) in discovery-swarm.

[code]

There may be an easy fix for this. I used intervals in the CLI as that was a bit more reliable and less jumping around

[2017-02-14 02:19] karissa opened #228 "deleting the second time never calls callback"
Check out this branch, which is just master but also has debugging statements:
https://github.com/datproject/dat-desktop/tree/delete-debug

1. Create a dat
2. Create another dat.
3. Delete one dat.
4. Delete the second dat (nothing happens, but you see `onexit` called in the console). We would expect to see `ondelete` called in the console! So that means the confirm modal is never calling `ondelet

[2017-02-14 06:32] yoshuawuyts commented on #228
Ah yeah this is definitely choo related - `yo-yo` to be specific. If I'm not mistaken it's because the copier copies the events over instead of leaving the child nodes as-is.

I think a possible fix could be to assign a unique `id` to each node so it's reordered rather than recreated and events aren't copied over.

If that doesn't work, I think `nanomorph` should help solve this in the near future

[2017-02-14 10:32] Kriesse opened #229 ""Import Dat" Input doesn't clear after adding a Dat"
After entering a Dat link and hitting enter, it looks like this:

![image](https://cloud.githubusercontent.com/assets/53684/22925449/1dfbc704-f2a9-11e6-9960-3180e4ac60f2.png)

Same after it loses focus:

![image](https://cloud.githubusercontent.com/assets/53684/22925495/419f6148-f2a9-11e6-92e0-0dd10bd8d075.png)

[2017-02-14 11:41] yoshuawuyts commented on #223
Another thing we should do is more testing. Core components that need testing right now:
- nanomorph (e.g. event copying and server rendering)
- nanocomponent (completely untested; have run into issues several times now)
- all our models

This should help us to refactor with more confidence rather than things breaking without us noticing. This probably also requires faster builds but that's a sepa

[2017-02-14 13:25] Kriesse commented on #126
@karissa Love the description!
For the newsletter: I don't think the blogpost works well as a newsletter. Would like to design a simple template for this – do we have a Mailchimp (or similar) account I can use?

@maxogden The climate dataset is the NASA one? It's still not working for me when I try to download it with Dat Desktop.

[2017-02-14 20:47] karissa commented on #228
I'm still seeing the bug unfortunately

[2017-02-14 20:53] karissa commented on #229
seems closed by #232

[2017-02-14 20:54] #229 closed

[2017-02-14 21:18] karissa commented on #126
OK @Kriesse ,-- We have a tinyletter account, does that work? Or do you need something closer to mailchimp? I'll give you the creds.

[2017-02-15 01:30] karissa opened #233 "the first time importing a dat.json file doesn't populate the list with metadata"
If you have a dat.json file in a folder and then create a new dat with it, the dat.json file never gets read -- it says 'anonymous' author with the truncated key in the title spot.

But if you restart the app, you'll see that it's able to read the dat.json file from the manifest and displays the expected title and author.

[2017-02-16 19:42] maxogden opened #238 "utp not working in dat-desktop"
when testing with @joehand and @yoshuawuyts we found out that utp (for some reason we don't yet know) is not getting used at all in dat-desktop@master. looking into it now

[2017-02-16 20:00] maxogden commented on #238
OK getting super weird behavior with require('utp-native')

If I change this line in 'discovery-swarm':

[code]

to this:

[code]

Then Dat Desktop freezes and never loads my list of dats

[2017-02-17 08:17] juliangruber commented on #238
After your change it also freezes on my machine. However I can manually check udp running this in the console in the same session:

[code]

[2017-02-17 09:00] juliangruber commented on #238
I think I found the issue. Apparently when you child_process.fork in electron, runtime in the forked process is node, not electron. Then you get this error requiring utp-native:

[code]

Working on a fix now

[2017-02-17 10:30] mafintosh commented on #238
I released utp-native with bundled prebuilds for all platform (excluding windows) so this should be fixed by that if you reinstall. @juliangruber is the issue you describe gonna affect the other native modules also? If so I can do a release of sodium-encryption|signatures with sodium-native since that ships with bundled prebuilds as well

[2017-02-17 10:37] juliangruber commented on #238
this seems to work for me now. please close when you ACK

[2017-02-17 10:37] juliangruber commented on #238
(re install node_modules)

[2017-02-17 22:03] karissa opened #241 "accept `datproject.org/username/datname` dat links"
Like in dat cli, you can do `dat clone datproject.org/karissa/mydataset` and it'll get the dat link from the registry and start cloning it.

[2017-02-17 22:14] maxogden commented on #238
woot

<img width="822" alt="screen shot 2017-02-17 at 2 14 36 pm" src="https://cloud.githubusercontent.com/assets/39759/23085238/70720ef2-f51b-11e6-8245-04edd0cd4b3d.png">

[2017-02-17 22:18] #238 closed

[2017-02-17 22:21] maxogden opened #242 ".dmg build instructions"
Trying to make it possible for multiple ppl to cut releases of the mac .dmg

- Is the dmg process manual, if so what are the steps?
- Does it involve xcode signing, and can we put the keys in our secrets repo?
- Are there already docs for this that I am too dense to find?

[2017-02-18 08:51] juliangruber commented on #23
reopening as transfer speeds are still missing

[2017-02-18 15:51] joehand commented on #23
These are exposed in dat-node as `dat.stats.network.uploadSpeed` and  `dat.stats.network.downloadSpeed`.

I use an interval to update them, right now there is no events on stats.network. Let me know if you'd like me to add them.

[2017-02-19 01:10] juliangruber opened #243 "more dat-worker logging / debugging / error handling"

[2017-02-19 01:12] maxogden commented on #243
background, I was testing desktop with someone on a macbook pro, they dl'd dmg from the latest release and it opened ok but importing/creating a dat has no effect in the UI and logs no errors to the console.

it was weird cause nothing in the UI happened at all, not log events or anything. but running Help > Doctor with DevTools opened passed all the doctor tests

[2017-02-19 13:20] yoshuawuyts commented on #228
This should be fixed now; feel free to reopen if it's still the case :sparkles:

[2017-02-19 13:20] #228 closed

[2017-02-19 13:36] yoshuawuyts opened #244 "logging, crash reporting & uncaught exceptions"
Currently we send a crash report whenever there's an uncaught exception. This requires a user to be online at the time though. I thought we could use `electron.crashReporter` for this, but [apparently they don't consider exceptions to be crashes](https://github.com/electron/electron/issues/6496). So we'll need to do some tinkering on our end to make sure this is handled correctly.

---
### Todo
-

[2017-02-19 13:37] yoshuawuyts commented on #148
Closing in favor of #244 - bit more updated with current state of things

[2017-02-19 13:37] #148 closed

[2017-02-19 17:36] juliangruber commented on #243
curious, is there a chance that dat-worker works, but dat doesn't? @maxogden would it be possible to try the cli on that machine?

[2017-02-20 08:30] juliangruber commented on #243
made two major changes to help with this:

- dat-worker now has debug() support and for now always logs its debug output (don't worry, it's just at init time, doesn't log anything more and therefore doesn't spam the console)
- made it so dat-worker child std{out,err} will be logged to the console immediately

Waiting for the build, then let's test on that machine again and watch the console

[2017-02-20 09:16] juliangruber commented on #243
I can reproduce this bug on my local machine now - or one that looks like it - and the above didn't help. Working on it more then.

[2017-02-20 09:39] yoshuawuyts opened #245 "Warn on duplicate Dat"
When already imported Dat. This Dat has already been imported. You can find it in your list of Dats

[2017-02-20 09:39] #209 closed

[2017-02-20 10:47] yoshuawuyts opened #246 "Copy issue labels from datproject/dat"
Think @joehand has done a neato job with the labels; would be cool to apply them to this project too :sparkles:

[2017-02-20 11:05] yoshuawuyts commented on #246
<img width="580" alt="screen shot 2017-02-20 at 12 02 57" src="https://cloud.githubusercontent.com/assets/2467194/23122545/eb3bdfaa-f764-11e6-8cf9-cc746e38f1ee.png">

[2017-02-20 11:20] yoshuawuyts commented on #246
OK, done! - added all labels except the `v11` label b/c I think milestones work well for us. Also added the `Type: UX` label for everything that's about UI. Closing!

[2017-02-20 11:20] #246 closed

[2017-02-20 11:22] yoshuawuyts commented on #245
Blocked by https://github.com/datproject/multidat/issues/2 - should be reasonably easy to implement tho

[2017-02-20 11:38] yoshuawuyts commented on #185
@Kriesse assigned this to you as it'd be cool to have designs for this before working on it

[2017-02-20 11:41] yoshuawuyts commented on #183
@Kriesse do you want to add the labels too, or is this feature ready?

[2017-02-20 11:42] yoshuawuyts commented on #179
Closing in favor of https://github.com/datproject/dat-desktop/issues/245 - assigned it to me

[2017-02-20 11:42] #179 closed

[2017-02-20 11:43] yoshuawuyts commented on #166
I think most of this will be covered by https://github.com/datproject/dat-desktop/issues/184 - closing for now

[2017-02-20 11:43] #166 closed

[2017-02-20 11:47] yoshuawuyts opened #247 "Host our own release server"
We've noticed that GitHub releases can be rather unstable, so in order to guarantee the app can be downloaded we should probably run our own release server

[2017-02-20 11:52] yoshuawuyts opened #248 "Show more network stats in the UI"
When downloading a dat, it is often useful to know things about the network. Currently we're tracking the peer count, but it'd also be good if we:
- [x] track upload / download speeds
~~- track "peers that have the full dataset" vs "peers that have a partial replica"~~

Labeling this as high priority because not having any information about the state of the network can be frustrating for users as

[2017-02-20 12:09] yoshuawuyts commented on #163
We've moved onto `toiletdb` to persist state, SLEEP removes the need for Level entirely and the last bits of state in `indexeddb` can probably also be handled by `toiletdb`. Closing for now

[2017-02-20 12:09] #163 closed

[2017-02-20 12:15] yoshuawuyts opened #249 "migrate from indexeddb to toiletdb"
We've moved onto `toiletdb` to persist state, `SLEEP` removes the need for `level` entirely and the last bits of state in `indexeddb` can probably also be handled by `toiletdb`. Reason for this is that `indexeddb` has been known to be unstable in the past and rather complicated to debug - `toiletdb` is a much more robust alternative

[2017-02-20 12:20] yoshuawuyts commented on #155
I've been scratching my head a lil over this as I'm not too familiar with Selenium and writing integration tests; I think I'd rather implement unit tests for our models first.

@karissa Is this something you're interested in picking up?

[2017-02-20 12:23] yoshuawuyts commented on #152
Marked as priority high b/c if the app makes folks CPUs spin there's a fair chance they'll choose not to use it

[2017-02-20 12:24] yoshuawuyts commented on #151
This has been resolved; bankai can support electron now https://github.com/yoshuawuyts/bankai/pull/125

[2017-02-20 12:24] #151 closed

[2017-02-20 12:29] yoshuawuyts commented on #116
Done

[2017-02-20 12:29] #116 closed

[2017-02-20 12:30] yoshuawuyts commented on #131
Done (:

[2017-02-20 12:30] #131 closed

[2017-02-20 12:31] yoshuawuyts commented on #120
Done (:

[2017-02-20 12:31] #120 closed

[2017-02-20 12:42] yoshuawuyts commented on #101
- I believe we're calling it `import` - the CLI has `dat clone` and `dat sync` - our import is kind of both combined I guess?
- I believe we're calling them "dat archives" or "dats" for short. There's now also https://github.com/datprotocol
- We're calling making a new dat `create`

Closing for now as there hasn't been a lot of activity, feel we've kinda settled on stuff

[2017-02-20 12:42] #101 closed

[2017-02-20 12:45] yoshuawuyts commented on #53
We've temporarily removed the menu; marking this as priority low. Probably related to the login and logout feature

[2017-02-20 12:46] yoshuawuyts commented on #59
Depends on login & register (https://github.com/datproject/dat-desktop/issues/134, https://github.com/datproject/dat-desktop/issues/135)

[2017-02-20 12:55] yoshuawuyts commented on #20
Changed the status on this because the "dat done downloading" feature can be implemented already; the other two are blocked by hyperdrive snapshots (which will land after SLEEP).

Also just updated the opening post to summarize what's discussed in the thread and make it actionable

[2017-02-20 13:08] yoshuawuyts commented on #248
As per https://github.com/datproject/dat-desktop/issues/23#issuecomment-280853931 we can implement these through `dat.stats.network.uploadSpeed` and  `dat.stats.network.downloadSpeed`. There are no events so currently they're updated using a loop

[2017-02-20 13:11] yoshuawuyts commented on #23
Closing this in favor of https://github.com/datproject/dat-desktop/issues/248 which is specifically for the missing up/down speed & "full replica" vs "partial replica" peers

[2017-02-20 13:11] #23 closed

[2017-02-20 13:25] yoshuawuyts commented on #247
In the short term we can probably do a quick and dirty thing with S3 and / or Nginx. Would require manual uploading of the package but it probably works.

In the long term it'd perhaps be useful to have a dedicated service that tails a project through a webhook and caches the tarball. Doing stuff such as retrying downloads until it has it. This can then in turn be cached again by a CDN / Nginx.

[2017-02-20 13:32] yoshuawuyts opened #250 "Investigate UI element caching"
As per https://github.com/datproject/dat-desktop/issues/152, the app sometimes spins when lots of updates happen (e.g. network events). We should probably investigate caching elements.

- [ ] cache list items by assigning them unique IDs (`morphdom` specific)
- [ ] cache individual elements by using `nanocomponent` (depends on https://github.com/yoshuawuyts/nanocomponent/issues/11)

[2017-02-20 13:34] yoshuawuyts commented on #152
Updating to nanomorph is probably going to be part of `choo@5` https://github.com/yoshuawuyts/choo/issues/152 - blocked on that

[2017-02-20 13:39] yoshuawuyts commented on #210
@joehand assigned you for now because it's blocked on https://github.com/datproject/dat/issues/635 - when it's resolved / have anything to test could you let us know here? Thanks! :sparkles:

[2017-02-20 13:41] yoshuawuyts commented on #245
@juliangruber assigning you for now because it's blocked on `multidat` - do you mind picking this one up? Thanks! :grin:

[2017-02-20 13:42] yoshuawuyts commented on #244
Actually this is kinda important - scheduling for the next milestone

[2017-02-20 13:44] yoshuawuyts commented on #247
cc/ @juliangruber

[2017-02-20 13:49] yoshuawuyts opened #251 "Write unit tests for models"
As per #155 we should probably also unit test our models. I'm thinking starting with reducers, and moving onto effects & subscriptions. This should hopefully add some degree of robustness to our app. No guarantees though, but I think besides moving code out of the project this might be the most helpful way to stabilize our app.

### todos
- [x] setup unit testing framework
- [ ] write a few basic

[2017-02-20 13:53] yoshuawuyts commented on #244
Alright, I'm picking this one up

[2017-02-20 13:58] yoshuawuyts commented on #155
Another approach we could take is by unit-testing UI things through https://github.com/mantoni/choo-test - haven't tried the library but it could perhaps be a lil more robust compared to selenium. Or perhaps we should like do both?

[2017-02-20 16:08] rgbkrk commented on #120
:tada:

[2017-02-20 18:01] joehand commented on #210
This should be fixed with https://github.com/mafintosh/hyperdrive/pull/127, hyperdrive version `7.14.3`. Tried to reproduce with fresh node_modules and was not able to.

[2017-02-20 18:01] #210 closed

[2017-02-21 01:02] karissa commented on #244
Nice, noticed that too. I would think crash reporting would include exception handling by default, I'm sure other projects will be able to use this contribution too!

[2017-02-21 01:40] karissa commented on #251
Yea! IMO it's good to start with unit tests for things that have broken the most through the dev process, like deleting a dat and progress bar for example

[2017-02-21 09:38] juliangruber opened #252 "set minHeight"
this shouldn't be possible:

![screen shot 2017-02-21 at 10 37 42](https://cloud.githubusercontent.com/assets/10247/23159101/cfef93be-f821-11e6-9a14-646eda2301d7.png)

[2017-02-21 09:39] juliangruber opened #253 "make window movable while app boots"
you can't drag the app around while it's in this initial state:

![screen shot 2017-02-21 at 10 39 24](https://cloud.githubusercontent.com/assets/10247/23159164/07f47a5e-f822-11e6-8f7d-433654a86cc8.png)

[2017-02-21 09:47] juliangruber opened #254 "dat title is rendered twice"
the 2nd dat has a `.title` of `Jon Hopkins`, wonder why it's rendered twice

![screen shot 2017-02-21 at 10 45 40](https://cloud.githubusercontent.com/assets/10247/23159429/05800b66-f823-11e6-844f-55b08b344d51.png)

[2017-02-21 09:47] juliangruber opened #255 "dat(1) automatically creates dat.json, dat-desktop doesn't"

[2017-02-21 09:50] juliangruber commented on #138
deleted all comments that have already been addressed

[2017-02-21 11:05] yoshuawuyts commented on #255
If we always expect a `dat.json` to exist in new dats, should it perhaps be part of `dat-node`? Or don't we necessarily expect that to be the case? cc/ @joehand

[2017-02-21 11:12] juliangruber commented on #255
^ exactly what i was thinking

[2017-02-21 11:25] Kriesse commented on #184
As shown in the suggestion, I think we should tie this in with another feature: Users should be able to pause the transfer (download+upload) of a dat. In context:

![image](https://cloud.githubusercontent.com/assets/53684/23162905/83d1fa1c-f830-11e6-8022-202791ddbae1.png)

[2017-02-21 11:28] Kriesse commented on #248
@yoshuawuyts Updated mockup. Please review, does that make sense?
![image](https://cloud.githubusercontent.com/assets/53684/23162914/9354683a-f830-11e6-8524-19c3ba8bfbde.png)

Related, as it also helps to the user to understand what the status is of each Dat: https://github.com/datproject/dat-desktop/issues/184

Do we need stats on peers with partial/full datasets yet? In favor of keeping the over

[2017-02-21 11:37] karissa commented on #248
Yeah, I like it!

Let's chat about a desktop roadmap for the next milestone with @maxogden, it'd be good to get a sense of what would be the most exciting to show off in a demo. It could be easy to rewrite github.com/mafintosh/dat-drop here in a panel when you click a dat.

[2017-02-21 11:38] karissa commented on #248
And yes, peer partial replication stats should be a separate issue.

[2017-02-21 12:15] juliangruber opened #257 "simplify dat-worker child_process woes"
depends on https://github.com/electron/electron/issues/8727

[2017-02-21 14:06] #254 closed

[2017-02-21 14:53] #138 closed

[2017-02-21 14:53] juliangruber commented on #243
fixed, and added more logging

[2017-02-21 14:53] #243 closed

[2017-02-21 16:02] piccoloaiutante opened #259 "Popup doesn't go away"
I think i found a bug and these are the step that consistently gave me the same outcome:

- insert open.whitehouse.gov link to download dataset: 6fa91405f280c30cedd461dfcd3b4fffffb27759e26f8135b7cbdfe08870ccb2.
- start download
- then cancel it pressing 'yes, remove dat'.
![screen shot 2017-02-21 at 16 54 41](https://cloud.githubusercontent.com/assets/867842/23172788/401755c0-f857-11e6-964f-804b43

[2017-02-21 16:32] joehand commented on #255
Yep, it should be part of dat-node. Ran out of time before releasing CLI and just put it in CLI code.

https://github.com/datproject/dat-node/issues/54

[2017-02-21 16:45] yoshuawuyts opened #260 "Dat detail view"
As per https://github.com/datproject/dat-desktop/issues/248 amongst others, we've discussed having a "detail view" for Dats. Some of the possible features we've previously discussed:

- Overview of which blocks have been downloaded ([hypercore-stats-ui](https://github.com/mafintosh/hypercore-stats-ui))
- Overview of peers that have the full dataset / peers that have a partial copy (https://github.

[2017-02-21 16:45] yoshuawuyts commented on #248
@Kriesse neat, yeah that makes a lot of sense! Digging it.

And yeah sounds good; created a separate issue for the detail view https://github.com/datproject/dat-desktop/issues/260

[2017-02-21 17:25] yoshuawuyts commented on #248
@karissa gonna check it out - hadn't seen that yet :sparkles:

[2017-02-22 11:39] juliangruber commented on #255
awesome, leaving this issue open as a remainder that this functionality will float in with a future dat-node update :)

[2017-02-22 12:44] yoshuawuyts commented on #218
We're on brew cask now :tada: https://github.com/caskroom/homebrew-cask/pull/30288

[2017-02-22 13:58] #252 closed

[2017-02-22 14:02] yoshuawuyts commented on #259
Hey there 👋, thanks for reporting! Quick question:

By this, do you mean that the element _eventually_ is removed, but not immediately - and if you click it it creates an error?

[2017-02-22 14:05] piccoloaiutante commented on #259
yes @yoshuawuyts , because of the time taken to remove the user can click again and create this condition.

[2017-02-23 08:39] juliangruber opened #264 "newsletter"
@Kriesse:

For the newsletter: I don't think the blogpost works well as a newsletter. Would like to design a simple template for this – do we have a Mailchimp (or similar) account I can use?

@karissa:

[2017-02-23 08:39] juliangruber commented on #126
created a new issue for the newsletter here: https://github.com/datproject/dat-desktop/issues/264

[2017-02-23 08:40] juliangruber opened #265 "climate use case"

[2017-02-23 08:40] juliangruber commented on #126
created a new issue for the climate use case here: https://github.com/datproject/dat-desktop/issues/265

[2017-02-23 08:40] #126 closed

[2017-02-23 08:42] juliangruber opened #266 "ability to pause / resume downloads"
@Kriesse in https://github.com/datproject/dat-desktop/issues/184#issuecomment-281316401:

![image](https://cloud.githubusercontent.com/assets/53684/23162905/83d1fa1c-f830-11e6-8022-202791ddbae1.png)

@yoshuawuyts please assign priority and milestone

[2017-02-23 08:43] juliangruber commented on #184
moved pause/resume to a new issue: https://github.com/datproject/dat-desktop/issues/266

[2017-02-23 08:43] juliangruber commented on #247
We can use the github releases api still though, and simply run a CDN on top

[2017-02-23 08:44] juliangruber commented on #247
The simplest solution I see right now is to manually upload releases to a public S3 bucket and use the public S3 links on the website.

[2017-02-23 08:46] juliangruber commented on #247
A more cost efficient alternative might be to upload to our own servers and run a simple http file server like https://github.com/tj/serve

[code]

[2017-02-23 08:46] mojoaxel opened #267 "Linux build"
I hope you guys don't mind me opening an issue to track the status of the linux build.
The build works for on ubuntu 16.04 64x with node v7.3.0.

I needed to install some dependencies for the `dist` build:

[code]

I guess what is missing now is the packing e.g. as `.deb` package.

[2017-02-23 08:48] juliangruber commented on #250
Is this still an issue? We're getting way less updates with dat-worker now

[2017-02-23 08:48] juliangruber commented on #250
(it doesn't seem to me)

[2017-02-23 09:08] juliangruber commented on #245
https://github.com/datproject/multidrive/pull/9

[2017-02-23 09:09] juliangruber commented on #248
getting started with this now

[2017-02-23 10:12] juliangruber commented on #248
started my work here: https://github.com/datproject/dat-desktop/pull/268

[2017-02-23 10:19] Kriesse commented on #248
@juliangruber Oh perfect thanks for preparing that! Will take it from here and start with styling.

[2017-02-23 10:45] #218 closed

[2017-02-23 10:58] yoshuawuyts commented on #247
Interestingly enough we haven't heard any feedback of users that they couldn't download it. Also looks like we had ~200 downloads in the past few days. This might perhaps not be as critical as we thought?

[2017-02-23 11:08] juliangruber commented on #247
I'm fine with marking this priority low and then either when there are complaints work on it again or drop it

[2017-02-23 11:12] juliangruber commented on #267
oh wow! I never tested this on Linux, great to know it _just works_ :)

If all we need to add is the proper build process, that might land pretty soon I'd say

[2017-02-23 11:18] yoshuawuyts commented on #267
@mojoaxel woot, thanks for opening this issue - we def appreciate it :sparkles:. I think one of the hard things for us right now is that nobody on Dat is running Linux as their main desktop OS, so testing and fixing bugs is a bit trickier.

I think a good first step might perhaps be to do a "preview" release, where we create the `.deb` packages but kinda mark it as "not really tested, might be uns

[2017-02-23 11:22] #206 closed

[2017-02-23 11:25] juliangruber commented on #267
@yoshuawuyts after a bit of reading, the `.AppImage` we had from CI builds actually is something that can be installed on most distributions, see http://appimage.org/. @mojoaxel would you mind giving this a try? https://github.com/datproject/dat-desktop/releases/download/untagged-ec34eac2fca159729a41/dat-desktop-1.0.3-x86_64.AppImage

I'm setting up an Ubuntu VM also so I can work on bugs there.

[2017-02-23 11:27] yoshuawuyts commented on #267
Ohey, that's cool. Nice.

On Thu, Feb 23, 2017 at 12:25 PM Julian Gruber <notifications@github.com>
wrote:

[2017-02-23 11:29] yoshuawuyts commented on #245
awesome, reviewed & looking great :sparkles:

[2017-02-23 11:37] juliangruber commented on #267
uploading it somewhere else as that url seems to be private

[2017-02-23 12:09] juliangruber commented on #267
https://cldup.com/inWFfU9TLV.AppImage

[2017-02-23 12:19] juliangruber commented on #267
<img width="1496" alt="screen shot 2017-02-23 at 13 18 57" src="https://cloud.githubusercontent.com/assets/10247/23258892/a9b1a624-f9ca-11e6-86fb-e28276ff4b35.png">

meh but not bad either!

[2017-02-23 12:22] juliangruber opened #269 "Linux: package .deb as well"
.AppImage has UX implications, because you need to explicitly mark it executable first. People that have never used .AppImage files before might find it easier to use .deb and .rpm etc packages.

[2017-02-23 12:45] juliangruber commented on #245
multidrive now noops when adding an archive twice. Should we still add the check and warn here?

[2017-02-23 13:10] Kriesse commented on #248
@juliangruber styling done for now! i'll assign to you, let me know if i missed anything.

[2017-02-23 14:40] Kriesse opened #270 ""Warning: Possible EventEmitter memory leak detected""
Seeing this when running the app locally:

![image](https://cloud.githubusercontent.com/assets/53684/23263367/546ab0de-f9de-11e6-8d6c-8fdc27229b4b.png)

App looks dead:
![image](https://cloud.githubusercontent.com/assets/53684/23263394/65db5f08-f9de-11e6-86a4-62ac67866710.png)

[2017-02-23 14:45] juliangruber commented on #248
merged!

[2017-02-23 14:45] #248 closed

[2017-02-23 15:28] juliangruber opened #271 "link to issue tracker from within app"
Do we for example want to link to our github project from the welcome screen? Just thinking about whether people do know where to submit issues.

Also, maybe add this to the Help menu item and the error screens.

- [x] add a menu trigger to header that toggles a dropdown
- [x] style it
- [x] menu toggles when you click the icon again (right now it doesn't go away)
- [x] link to issue tracker opens

[2017-02-23 16:21] Kriesse commented on #184
added the new icons that are needed. this is now blocked by #266.

[2017-02-23 17:40] probonopd commented on #269
Much easier than to fiddle around with repositories and ppas:

![Make executable](https://cdn-standard4.discourse.org/uploads/appimage/optimized/1X/a4889c5cb8711d6845b58135080787d2f370af35_1_500x500.gif)

[2017-02-23 19:16] mojoaxel commented on #267
@juliangruber I got the same package-version error with your version. I just pulled and build again. Now I have a wonderful running AppImage for Linux.

So Thanks to [AppImage](/probonopd/AppImageKit) I see now reason why this should not be published :tada:

[2017-02-23 19:22] mojoaxel commented on #267
Oh, I see there is already a [linux release](/datproject/dat-desktop/releases/tag/1.0.3-pre). Great job guys!!

[2017-02-23 19:22] #267 closed

[2017-02-23 20:42] mojoaxel opened #273 "Bug: Open folder on linux"
I'm testing the latest version (5726a8ec7a3f35a83c48ed787d40b577cc968f32).
There is a problem on linux when i try to open the dats folder by clicking on the folder-icon.

It looks like the xdg-open script can not be executed in the electron context. I have no idea at the moment, because it works i the development build.

![image](https://cloud.githubusercontent.com/assets/600565/23276602/3ac7fea2-

[2017-02-23 20:42] mojoaxel commented on #273
I'll provide a fix shortly...

[2017-02-24 02:18] gmaclennan opened #275 "Unexpected issue / crash"
Managed to break things pretty fast (the only thing I did with the app):

1. Create a new DAT from a folder (containing 4 small PDFs)
2. Remove the DAT by clicking the trash can
3. Create a new DAT again from the same folder

I tried to replicate after deleting `~/Library/Application Support/Dat` but now it works.

Also: When I got the fatal crash error I selected "delete database and contents" or

[2017-02-24 14:33] yoshuawuyts commented on #184
Closing in favor of https://github.com/datproject/dat-desktop/issues/266

[2017-02-24 14:33] #184 closed

[2017-02-24 15:02] yoshuawuyts commented on #247
yeah cool - doing that; moving out of milestone too then to mark it's resolved for now

[2017-02-25 08:48] juliangruber commented on #269
Yeah I agree, but does everyone you you just need to make it executable?

[2017-02-25 13:00] probonopd commented on #269
I'd say, just link to the animted GIF above :-)

[2017-02-27 11:11] yoshuawuyts opened #276 "Modal text can overflow"
As per https://github.com/datproject/dat-desktop/issues/273, when an error occurs the text in the modal can overflow. We should probably have `overflow-x: auto` or something similar.

![3ac7fea2-fa0b-11e6-96c7-5d36c2151c32](https://cloud.githubusercontent.com/assets/2467194/23359293/e5cde7b2-fce5-11e6-9f0b-d2da07584aaf.png)

[2017-02-27 11:13] yoshuawuyts commented on #273
@mojoaxel thanks for reporting! I created a separate issue for the text overflowing :sparkles:

[2017-02-27 11:16] #273 closed

[2017-02-27 11:38] yoshuawuyts commented on #264
cc/ @karissa are you usually responsible for the newsletter going out? Few questions:

- when does the newsletter usually go out?
- what kind of content are we looking for? I've found https://tinyletter.com/datdata but it doesn't have an archive, so not sure what's usually the case
- is there any content we need to provide? (for desktop, but also in general I guess)
- is this the right place to di

[2017-02-27 11:40] yoshuawuyts commented on #265
@juliangruber could you perhaps shed some light on what needs to be done to tick off this issue? Does this mean that we can tick this off once the NASA dataset can be downloaded? Thanks!

[2017-02-27 11:40] yoshuawuyts commented on #265
@juliangruber also just assigned you as I think "in progress" means you're working on it. If someone else is working on it please assign them instead. Thank youuuu

[2017-02-27 11:41] yoshuawuyts commented on #264
Also as a more general question: it says this is "in progress" - @juliangruber do you know who's working on this?

[2017-02-27 11:46] yoshuawuyts commented on #271
Think it would indeed be useful to have a view with more info about how to provide feedback / link to IRC, twitter, github and the like. Assigning to @Kriesse because we probably need some design for this first

[2017-02-27 11:47] yoshuawuyts commented on #259
@piccoloaiutante great, I think I know how to solve it then. Thanks heaps for reporting!

[2017-02-27 11:58] yoshuawuyts commented on #275
Hey there 👋 - thanks for reporting; reports like these are super helpful! I think there might be two causes for the issue you're seeing:

First off it seems the UI might not always match up with what the actual state is. Like in https://github.com/datproject/dat-desktop/issues/259 the UI doesn't reflect the app is currently being removed, causing it to error out on retries. I think this would be h

[2017-02-27 12:42] juliangruber commented on #264
it read to me like @Kriesse and @karissa were working on this

[2017-02-27 12:43] juliangruber commented on #265
assigned @maxogden who iiuc is working on this

[2017-02-27 12:53] juliangruber opened #278 "linux travis builds failing"
This line eg should print detected electron versions: https://travis-ci.org/datproject/dat-desktop/jobs/205778457#L210

[2017-02-27 13:06] juliangruber commented on #278
better: deactivate for now until this is fixed

[2017-02-27 13:24] yoshuawuyts commented on #251
We talked about this on a call and figured it'd be cool to setup a unit testing framework, and add tests as we run into possible regressions.

[2017-02-27 13:33] yoshuawuyts commented on #250
We fixed a lot of the perf issues here; moving to priority medium. Gonna build a component system first and move to less files before digging into this again.

[2017-02-27 13:37] juliangruber commented on #245
We decided that the warning would be helpful, so adding logic for `err.warn = true` triggering a warning dialogue

[2017-02-27 13:41] yoshuawuyts commented on #223
@juliangruber and I are meeting up IRL this week; gonna chat about this

[2017-02-27 13:43] yoshuawuyts commented on #214
@Kriesse did you end up reporting this bug to the Electron team?

[2017-02-27 13:45] Kriesse commented on #214
@yoshuawuyts no, not yet.

[2017-02-27 14:35] yoshuawuyts opened #280 "Refactor component systems"
In preparation for https://github.com/datproject/dat-desktop/issues/250 we should probably move onto a slightly redesigned component system. This ties into https://github.com/datproject/dat-desktop/issues/219

### todos
- [x] buttons
- [x] icons
- [x] assets dir
- [x] single modal
- [x] with unit tests as we go

[2017-02-27 14:37] yoshuawuyts opened #281 "Release notes for 2017-02-28 milestone"
[will be posted here, issue can be closed on release]

[2017-02-27 18:36] karissa commented on #280
What kind of redesigns? Curious if we have some criteria we can orient around.

[2017-02-27 20:14] karissa commented on #276
If we make it a textarea people can easily copy and paste it to us

[2017-02-27 20:29] gmaclennan commented on #275
Yes, I tried to recreate the issue but I could not. I know un-recreatable bugs are hard, sorry!

[2017-02-28 03:37] maxogden opened #283 "Change Data Directory Location For Downloads"
When downloading using the Desktop client it would be nice to be able to specify where on disk the data should get stored, rather than storing it only in `~/Downloads/dat`. This would let people who want to seed data from external hard drives etc use the app.

Implementation wise, this could be done as a either a global config that can maybe be edited via JSON (easier, no UI change) or a 'Choose s

[2017-02-28 04:31] maxogden opened #284 "Bug: Moving folder after download causes crash on restart"
A user moved their dataset out of `Downloads/dat` and then on restart got this:

[code]

[2017-02-28 11:50] yoshuawuyts commented on #280
@karissa outlined in https://github.com/datproject/dat-desktop/issues/219, discussed this with @Kriesse on Friday / iterated a little and started implementing it

[2017-02-28 17:40] juliangruber commented on #270
the "app looks dead is unrelated, we yet have to figure this out :/"

[2017-02-28 17:52] juliangruber commented on #266
needs: paused state in multidat

[2017-02-28 17:55] juliangruber commented on #266
work has started here: https://github.com/datproject/dat-desktop/tree/add/toggle-pause

[2017-02-28 18:44] juliangruber commented on #266
needs two things:

1) multidrive: add {set,get}Meta
2) dat-worker: add .{join,leave}{,Network}

[2017-02-28 18:57] juliangruber opened #287 "Speed indicators broken"

[2017-03-02 10:13] #287 closed

[2017-03-02 16:04] Kriesse commented on #185
Cool! In future releases, we should also have a full edit view, as inline edits come with a few accessibility issues.
Here are mockups for inline-editing, almost the same except how we handle save/cancel:

# Version A (implicit Save, explicit Cancel):
Changes are saved when the user clicks out of the editable area.
Changes are dismissed when the "x" is clicked.

### Edit and Save:
![inline-editing

[2017-03-02 18:31] yoshuawuyts opened #290 "Import Dat Flow"
This was brought up by user feedback. When importing a new `dat` we should be able to select which files to download.

In other download clients this is usually done through a dialog that asks some details, with a default location & all files being downloaded by default.

Related: https://github.com/datproject/dat-desktop/issues/335

[2017-03-02 18:38] Kriesse commented on #290
@yoshuawuyts Cool, good feedback. I'll work on it!

If you had any concrete clients in mind that solve this well, which ones are those?
If not I'll start with that research.

[2017-03-03 01:08] yoshuawuyts commented on #281
Updated the release notes - can release anytime!

[2017-03-03 01:08] #281 closed

[2017-03-03 06:49] karissa commented on #290
uTorrent does this

[2017-03-03 06:50] karissa commented on #290
Great job documenting!  I agree that it is a pretty crucial feature

[2017-03-03 12:44] juliangruber commented on #185
I agree with an eventual full edit screen, and for now I favor version B, as it's more explicit

[2017-03-03 12:51] juliangruber commented on #270
fixed the warning, let's open a new issue if the app freezes again

[2017-03-03 12:51] #270 closed

[2017-03-03 13:01] yoshuawuyts commented on #270
Awesome, thanks!

On Fri, Mar 3, 2017 at 1:51 PM Julian Gruber <notifications@github.com>
wrote:

[2017-03-03 14:45] juliangruber commented on #245
needs https://github.com/datproject/multidrive/pull/10

[2017-03-03 14:48] juliangruber commented on #245
work started in https://github.com/datproject/dat-desktop/compare/add/warning-on-duplicate-dat?expand=1

[2017-03-03 14:49] juliangruber opened #292 "add warning modal element"
required for https://github.com/datproject/dat-desktop/issues/245.

@yoshuawuyts how are we going to do this?

[2017-03-03 15:11] Kriesse commented on #180
Added the styles.
To Do: Apply the class `fade-highlight` to a Dat that is added to the list.
(https://github.com/datproject/dat-desktop/commit/3d7e3f671d33383f6dbcbce60a26329d4f60103f#diff-4b7a7e325c25f4203cf9fb13f0261487R216)

[2017-03-04 12:43] juliangruber commented on #266
pull request here: https://github.com/datproject/dat-desktop/pull/291

[2017-03-06 12:33] yoshuawuyts commented on #292
After https://github.com/datproject/dat-desktop/pull/285 we should have a `modal.js` file - can take the same approach as with `buttons.js` where we'd call something like `modal.warning()`

[2017-03-06 13:18] juliangruber commented on #292
sgtm!

[2017-03-06 13:18] juliangruber commented on #245
blocked by #292

[2017-03-06 13:52] juliangruber commented on #251
progress has started here: https://github.com/datproject/dat-desktop/compare/add/test-framework?expand=1

[2017-03-06 13:55] juliangruber commented on #251
current error to fix, when requiring the repos model as well:

[code]

[2017-03-08 12:24] juliangruber commented on #251
@yoshuawuyts the test framework is set up now, waiting for the choo5 migration I guess until we add tests?

[2017-03-08 12:32] yoshuawuyts commented on #251
Yeah, let's wait for a lil bit on that haha

On Wed, Mar 8, 2017 at 1:24 PM Julian Gruber <notifications@github.com>
wrote:

[2017-03-08 13:02] yoshuawuyts opened #293 "pausing a dat doesn't stop uploading"
Verified this on https://github.com/datproject/dat-desktop/pull/291 that hitting pause on a dat doesn't stop it from being uploaded over MDNS - might also be the case on TCP, UDP. Def worth looking into.

[2017-03-08 13:32] yoshuawuyts commented on #251
Just reviewed the framework; gist of it LGTM.

[2017-03-08 18:17] juliangruber commented on #293
@joehand hey, is this something we can solve in dat-node?

Otherwise, we could also just `.kill()` the dat-worker child processes for a clean _pause_, however that is not as efficient

[2017-03-08 18:18] juliangruber commented on #284
I've seen this locally as well!

[2017-03-08 18:21] juliangruber commented on #284
The exact error is...

<img width="872" alt="screen shot 2017-03-08 at 19 20 47" src="https://cloud.githubusercontent.com/assets/10247/23717492/5e5e17d8-0434-11e7-8c6c-255a92a991c7.png">

..., a LevelDB initialization error

[2017-03-08 18:21] juliangruber commented on #284
what should we do in this case? Start downloading again or remove from list? I'd say start downloading again.

@Kriesse what do you say?

[2017-03-08 18:35] joehand commented on #293
Yes! I added the pause/resume (which does the same as join/leave). But I think there may have a bug in the join/leave.

I will release a new dat-node version today that we can test.

[2017-03-08 21:06] karissa commented on #284
If we force people to choose a download location this problem is less likely to come up -- right now if anyone wants to download something they're probably going to end up moving the files somewhere else if they don't want it in downloads/dat.

[2017-03-08 21:08] karissa commented on #284
What about creating a "missing" or "error" state for any error that comes up for an individual dat? It could be a darker grey with a warning icon on the left. That way any future unforaweable problems with an individual dat don't crash the entire app

[2017-03-08 21:30] beingalink opened #294 "Issues with dat-desktop 1.0.3"
- [ ] Upload speed indicator doesn't work (always 0 even when uploading)

- [x] When closing dat-desktop and re-opening all dats in the list are lost (intended?) (https://github.com/datproject/dat-desktop/commit/3aab73c3a2d110972dff222914f054babb52f8f5)

- [ ] the peer count is sometimes off

- [x] there's no import progress bar (sleep landed)

EDIT: modified by @juliangruber

[2017-03-09 11:42] juliangruber commented on #251
ok, removing from milestone then

[2017-03-09 11:44] juliangruber commented on #284
@karissa that is also what WebTorrent does:

![screen shot 2017-03-09 at 12 44 11](https://cloud.githubusercontent.com/assets/10247/23748962/217eadd6-04c6-11e7-9112-6f303d35f750.png)

[2017-03-09 11:58] yoshuawuyts commented on #292
Building choo v5 side tracked me a whole bunch - I should spend some time
on this tho; feel free to take over if it's blocking you right now

On Fri, Mar 3, 2017 at 3:49 PM Julian Gruber <notifications@github.com>
wrote:

[2017-03-09 12:02] #266 closed

[2017-03-09 12:25] juliangruber commented on #284
we're properly catching this error now (not an improvement for the user yet):

![screen shot 2017-03-09 at 13 24 18](https://cloud.githubusercontent.com/assets/10247/23750133/cccdc1b8-04cb-11e7-8499-d4dba216bc82.png)

[2017-03-09 13:22] juliangruber commented on #245
we're detecting duplicates in multidrive now, which works in the case where you clone a dat redundantly. in the case where you share one though, we currently always get the LevelDB error first, because the dat needs to be initialized before we know its key. If we do the duplicate check on the directory as well though, that wouldn't be necessary.

[2017-03-09 13:35] juliangruber commented on #292
part of https://github.com/datproject/dat-desktop/pull/295

[2017-03-09 13:35] juliangruber commented on #245
pull request here: https://github.com/datproject/dat-desktop/pull/295

[2017-03-09 13:40] juliangruber opened #296 "add progress bar in app icon"

[2017-03-09 13:49] karissa commented on #284
Sounds good @juliangruber, let's borrow the idea from webtorrent. Might be easiest to implement, too

[2017-03-09 21:07] joehand commented on #293
This appears fixed with the upgrade to dat-node 1.4!

[2017-03-13 11:03] yoshuawuyts commented on #294
@beingalink thanks for reporting! :sparkles:

[2017-03-14 22:00] karissa opened #298 "When closing dat-desktop and re-opening all dats in the list are lost"
Can confirm on my 1.0.3 build that was upgraded from 1.0.2. Can't seem to replicate with a local development version.

[2017-03-14 22:10] karissa opened #299 "Fix the link to .dmg file"
Right now, when you click 'download for mac' on the website, it goes to the Github releases page, which shows Linux as the first item. It is pretty confusing for new users to find the mac release.

[2017-03-14 22:19] karissa commented on #283
We might be able to implement the 'Choose save location' using the electron choose folder dialog.

[2017-03-14 22:20] karissa commented on #283
uTorrent configuration pane: ![](http://img.snaphow.com/wp-content/uploads/images/choose-utorrent-directories-dropbox.png)

[2017-03-14 22:39] karissa commented on #255
Started it here https://github.com/datproject/dat-node/pull/122

[2017-03-14 22:40] karissa commented on #185
dependent upon having a dat.json file #255

[2017-03-15 16:04] yoshuawuyts commented on #299
I've updated the labels of `latest-release` and `pre-release`. On the next release `1.1.0` should be at the top and people should have no trouble downloading it. We've discussed it before and think it's probably good enough for now (:

[2017-03-15 16:26] yoshuawuyts commented on #223
Choo 5 now exists, we figured it out :sparkles:

[2017-03-15 16:26] #223 closed

[2017-03-15 17:32] karissa commented on #299
It was a problem that came up that was pretty troubling for users during user testing that led to them needing help to find the mac version for download.

[2017-03-15 17:44] maxogden commented on #299
I don't think we should ever send users to github.com, we should link directly to the .dmg files from our website

[2017-03-15 19:23] yoshuawuyts commented on #299
Yeah fair point, after seeing the user flow I totes agree

On Wed, Mar 15, 2017, 18:44 maxogden <notifications@github.com> wrote:

I don't think we should ever send users to github.com, we should link
directly to the .dmg files from our website

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/datproject/dat-desktop/issues/299#iss

[2017-03-15 19:51] karissa commented on #299
OK this is fixed in https://github.com/datproject/datproject.org/commit/88fcf165e0c6bc82c9d9d9dcdff71af1d14ee88c

[2017-03-15 19:51] #299 closed

[2017-03-16 17:54] juliangruber commented on #259
@yoshuawuyts fixed the modal dismissal in https://github.com/datproject/dat-desktop/pull/295/commits/b08cff0665fd0a6736faf304636a8aff4fbc92a9

[2017-03-16 17:55] juliangruber commented on #298
I have seen this too, and didn't trust it first. Taking a look!

[2017-03-16 17:59] juliangruber commented on #298
Somehow

[code]

straight after you quit the app. While running, it eg said

[code]

[2017-03-16 18:09] juliangruber commented on #298
Ah yes I see now. When you `.close()` an archive in multidat, it will also be removed from the db.

[2017-03-16 18:28] #298 closed

[2017-03-16 19:01] juliangruber commented on #294
I can't reproduce. Is this on OSX? I verified by also running local dat cli and it showed upload speed in desktop.

[2017-03-16 19:01] juliangruber commented on #294
Do you have a way to reproduce?

[2017-03-16 19:04] juliangruber commented on #294
we said in https://github.com/datproject/dat-desktop/issues/166#issuecomment-278951440 that we can omit this for now, do you think we should make it a priority again?

I agree btw that it would be nice to reflect that. Maybe the progress bar should have two phases?

[2017-03-16 19:06] juliangruber commented on #284
the next step here is to change multidrive / multidat so that an error creating a dat doesn't cause the whole initialization step to error - only the one archive should have an error attached

[2017-03-16 19:10] karissa commented on #294
How large was the dat you were trying to upload? Perhaps it takes a few seconds for the upload indicator to activate.

[2017-03-16 19:10] karissa commented on #284
Right

[2017-03-16 21:16] beingalink commented on #294
![upload speed indicator](https://www.dropbox.com/s/4us3imzg4t63l4v/Screenshot%202017-03-16%2022.12.42.png)

As you can see dat-cli is downloading but no upload is indiated in dat-desktop. Waiting doesn't change it.

Regarding peer count, I couldn't find a reliable way to reproduce the problem. Will post here if I will find a way.

[2017-03-17 13:37] juliangruber commented on #293
@joehand thank you, that fixed the MDNS case for sure! Since the others weren't reported as particular problems (yet), closing for now

[2017-03-17 13:37] #293 closed

[2017-03-17 14:12] juliangruber commented on #284
pull request here: https://github.com/datproject/dat-desktop/pull/302

[2017-03-17 14:28] #257 closed

[2017-03-17 14:33] juliangruber commented on #241
How is this implemented in the CLI currently?

[2017-03-17 14:43] juliangruber commented on #278
inside the travis vm, this actually happens:

[code]

[2017-03-17 14:53] juliangruber commented on #233
depends on https://github.com/datproject/multidat/pull/8

[2017-03-17 15:10] juliangruber commented on #278
fixed by https://github.com/datproject/dat-desktop/pull/303, linux builds are back!

[2017-03-17 15:11] #219 closed

[2017-03-17 15:16] juliangruber commented on #20
blocked by https://github.com/datproject/dat-desktop/pull/297 as we need `dat.progress`

[2017-03-17 16:17] #296 closed

[2017-03-17 17:56] karissa commented on #278
woot!

[2017-03-17 17:56] karissa commented on #278
can we close this then?

[2017-03-17 18:00] karissa commented on #241
https://github.com/datproject/dat/blob/master/lib/commands/clone.js#L55

[2017-03-17 18:56] juliangruber commented on #278
yuss!

[2017-03-17 18:56] #278 closed

[2017-03-17 18:57] juliangruber commented on #241
@karissa thanks for the link! Where do you think this logic should go? Dat-node? A small helper lib? A dat registry module? Hm :)

[2017-03-17 19:17] karissa commented on #241
The idea is that the link itself should return a certain pattern {key:...} I believe, so it doesn't have to be fancy

There is a datproject/dat-registry-client library though maybe there?

[2017-03-17 19:20] juliangruber commented on #241
I'm mostly wondering if wherever you can clone a dat those links should be accepted, and thus resolution should be part of a central library

[2017-03-17 19:22] karissa commented on #241
It's hard to know what links are accepted ahead of time without pinging the URL, because you could have anther instance of the registry with a different host, or have a dns record

[2017-03-20 07:00] juliangruber commented on #259
fixed in master now

[2017-03-20 07:00] #259 closed

[2017-03-20 07:03] juliangruber commented on #242
It's `npm run dist`, which is now also mentioned in the README

Yes it does. It's not hard to make it work on multiple machines though, so I'll add it to the secrets repo

[2017-03-20 07:04] juliangruber commented on #242
However, we have travis cut releases now, fully automated. Is this still an issue then?

[2017-03-20 07:34] juliangruber commented on #20
pull request here https://github.com/datproject/dat-desktop/pull/304

[2017-03-20 11:41] yoshuawuyts opened #305 "Week 12 release checklist"
- [x] create preview release
- [x] test resulting binary
- [x] write patch notes
- [x] publish final binary
- [x] tweet about release

cc/ @juliangruber think we can cut a new release today or tomorrow?

[2017-03-20 13:20] yoshuawuyts commented on #185
We decided on the call to go for option B first, and see how well that works

[2017-03-20 13:32] juliangruber opened #306 "choo v5 migration"
🚋 🚋

Let's help choo by being an early test case, and make room for new features in Dat Desktop sooner than later!

- [x] `app`
- [x] `models/error`
- [x] `models/main-view`</del> (replaced by `models/welcome`)
- [x] `models/repos` (refactored `lib/dat-manager`, `lib/monkeypatch`)
- [x] `models/window` (replaced by `models/drag-drop`)
- [x] `pages/main` (refactored `elements/welcome`, `elements/em

[2017-03-21 07:28] juliangruber opened #309 "add modal keyboard shortcuts"
Currently when you try to positively dismiss a modal via pressing the enter key, something strange happens: Since the focus still is on the element you clicked then triggering the modal, another modal of the same kind is created and overlayed.

The solution I think is to set the focus on the modal's positive button.

[2017-03-21 07:38] juliangruber opened #310 "test:integration fails on travis"
See for example https://travis-ci.org/datproject/dat-desktop/jobs/212894584

Since they're passing locally (they do for me), this might best be investigated running the travis environment on your machine via docker and seeing what's going on. See https://docs.travis-ci.com/user/common-build-problems/#Troubleshooting-Locally-in-a-Docker-Image for a manual.

I removed the `test:integration` target f

[2017-03-21 07:39] Kriesse commented on #138
@yoshuawuyts @juliangruber Should we keep this list open and run through it / extend it for each release?

[2017-03-21 08:14] Kriesse opened #311 "[QA] v1.1.0"
In order to verify `dat-desktop@1.1.0`  works as expected.

---
### todos

#### crash reporting
- [ ] make sure error logs come through (@yoshuawuyts)

#### downloading/installation
- [x] verify http://datproject.org/ has instructions to download the correct latest release
- [x] verify the nice 'disk image' designed background comes up when you open the .dmg
- [x] verify you can drag to applicatio

[2017-03-21 08:14] Kriesse commented on #138
Created a new one: https://github.com/datproject/dat-desktop/issues/311

[2017-03-21 08:17] Kriesse commented on #311
After installing, I tried to open the app, and am stuck at an empty view:

![image](https://cloud.githubusercontent.com/assets/53684/24138095/263b1774-0e17-11e7-803f-1a1d42dcf156.png)

[2017-03-21 08:22] juliangruber commented on #311
https://github.com/datproject/dat-desktop/commit/e1c7ea9047ae45c1ca5da559843a3a9d2f45339c, building again

[2017-03-21 08:31] juliangruber commented on #311
I added new items to this list as commits since the last release demanded me to

[2017-03-21 08:36] juliangruber commented on #311
next bug found: doesn't download the test dat (dat://f34f99538702f3b55ea3b88c9e374fb72db0ca35903c2249aaa09280accc2062), cli works

[2017-03-21 08:58] Kriesse commented on #311
ok, no i can go beyond the empty screen, but i get this:
![image](https://cloud.githubusercontent.com/assets/53684/24139604/fe9f0ea4-0e1c-11e7-8ee5-1068a7ff485a.png)

[2017-03-21 09:08] juliangruber commented on #311
@Kriesse that is the bug where `~/Downloads/dat/` has been removed, which we haven't fixed in this release. However, it should offer you to clear the db in this case, right? Because otherwise there's nothing you can do unless manually going to the terminal.

[2017-03-21 09:09] Kriesse commented on #311
@juliangruber Yup! Is that something we can do now, or should we move it into the next release (or a patch?)

[2017-03-21 09:10] juliangruber commented on #311
I'll take a look after some work on dat-worker, let's skip this one for now

[2017-03-21 09:30] juliangruber commented on #311
fixed the downloading bug :)

[2017-03-21 11:38] juliangruber commented on #311
I also fixed the multidat bug, we weren't cleaning up properly when you quit the app. In case it doesn't work when you next launch it, you need to clean up once manually by either restarting your machine or quitting all dat-worker processes

[2017-03-21 11:57] juliangruber commented on #311
the link modal is a bit broken:

<img width="441" alt="screen shot 2017-03-21 at 12 57 22" src="https://cloud.githubusercontent.com/assets/10247/24146425/fad65700-0e35-11e7-9e63-60487675a3bd.png">

[2017-03-21 12:00] juliangruber commented on #311
the peer number is incorrect, should be 0:

<img width="791" alt="screen shot 2017-03-21 at 13 00 08" src="https://cloud.githubusercontent.com/assets/10247/24146517/5ad64da4-0e36-11e7-92b5-61fe5f1e4bf3.png">

[2017-03-21 12:01] juliangruber commented on #311
there is also a bug with the progress bar where it shows 0% although all dats have been downloaded completely

[2017-03-21 12:14] juliangruber commented on #227
this is for now fixed in dat-worker ^

[2017-03-21 12:14] #227 closed

[2017-03-21 12:33] juliangruber commented on #311
Status update:

- the copy modal style needs to be fixed
- need to test if the network works with someone else's help

[2017-03-21 14:53] yoshuawuyts commented on #310
Yeah sounds reasonable

On Tue, Mar 21, 2017 at 8:39 AM Julian Gruber <notifications@github.com>
wrote:

[2017-03-21 14:53] yoshuawuyts commented on #309
haha oh wow - good point

On Tue, Mar 21, 2017 at 8:28 AM Julian Gruber <notifications@github.com>
wrote:

[2017-03-21 22:44] yoshuawuyts commented on #244
Talked to feross today; linked me to all his things :tada:

### links
- [telemetry client](https://github.com/feross/webtorrent-desktop/blob/master/src/renderer/lib/telemetry.js)
- [crash reporter client](https://github.com/feross/webtorrent-desktop/blob/master/src/crash-reporter.js)
- [telemetry server](https://github.com/feross/webtorrent.io/blob/master/server/desktop-api.js#L68)
- [crash report

[2017-03-22 07:14] juliangruber commented on #309
pull request here: https://github.com/datproject/dat-desktop/pull/312

[2017-03-22 07:15] juliangruber commented on #305
I'm aiming for today

[2017-03-22 09:36] Kriesse commented on #311
Update: Modal style is fixed!
![image](https://cloud.githubusercontent.com/assets/53684/24191139/1805b568-0eeb-11e7-82fe-0125e579face.png)

[2017-03-22 10:01] juliangruber commented on #311
1.1.0 is out! 🍾 Thank you everyone! ❤️

[2017-03-22 10:01] #311 closed

[2017-03-22 10:07] Kriesse commented on #311
🎉

[2017-03-22 14:38] juliangruber commented on #233
pull request here: https://github.com/datproject/dat-desktop/pull/316

[2017-03-22 17:39] waldoj opened #317 "Bug: Update notices spawn indefinitely"
Without intervention, it appears that update notices will continue to pop up, indefinitely:

![dat](https://cloud.githubusercontent.com/assets/656758/24212055/650ef8c4-0f04-11e7-8ff5-80862f8d2b5f.jpg)
The text is, for the benefit of future searching:

[2017-03-22 19:29] karissa commented on #317
Thanks @waldoj !

[2017-03-23 15:44] #233 closed

[2017-03-27 08:03] juliangruber opened #318 "choo event name convention"
conversation started in https://github.com/datproject/dat-desktop/pull/315#pullrequestreview-28411454:

@yoshuawuyts

@yoshuawuyts

@karissa

[2017-03-27 12:05] yoshuawuyts commented on #305
released & done

[2017-03-27 12:05] #305 closed

[2017-03-27 12:09] #306 closed

[2017-03-27 12:16] yoshuawuyts opened #319 "2017-03-28 release"
- [x] do QA
- [ ] write patch notes
- [ ] tweet about it
- https://github.com/datproject/dat-desktop/milestone/6

[2017-03-27 12:41] yoshuawuyts commented on #152
Fixed by #306

[2017-03-27 12:41] #152 closed

[2017-03-27 13:03] yoshuawuyts commented on #250
I think we can close this; we don't have any pressing perf issues right now and I'm sure there's always room to improve. New choo should make it v. easy to debug perf also, sooooo closing :sparkles:

[2017-03-27 13:03] #250 closed

[2017-03-28 07:41] #317 closed

[2017-03-29 10:44] yoshuawuyts commented on #318
Let's chat about this on our next skype call

[2017-03-29 14:34] #276 closed

[2017-03-29 16:33] juliangruber commented on #318
@yoshuawuyts and me talked about it over hangout and settled on the convention we had before:

[code]

Namespaces, because they give structure and enable more tooling. Hyphen separated event names, because that's what node core and electron use.

[2017-03-30 16:48] #318 closed

[2017-04-03 12:13] yoshuawuyts commented on #319
Oops, we released on the call and forgot to tweet. Ah well, it's been a week - closing!

[2017-04-03 12:13] #319 closed

[2017-04-03 14:37] yoshuawuyts opened #323 "migrate to SLEEP marketing"
### communication
- [ ] create a blog post to explain why the migration happens
- [ ] update the docs for SLEEP
- [ ] possibly video
- [ ] tweets and stuff

[2017-04-04 07:30] juliangruber opened #324 "[QA] v1.1.2"
In order to verify `dat-desktop@1.1.2`  works as expected.

---
### todos

#### downloading/installation
- [ ] verify http://datproject.org/ has instructions to download the correct latest release
- [x] verify the nice 'disk image' designed background comes up when you open the .dmg
- [x] verify you can drag to applications folder and double click the app to open first try (no right click open)

#

[2017-04-04 07:48] juliangruber commented on #324
when hovering over an active dat's hex, it's not showing the `paused` state

<img width="271" alt="screen shot 2017-04-04 at 09 48 23" src="https://cloud.githubusercontent.com/assets/10247/24646347/dca73fa6-191b-11e7-9494-81378bb50dba.png">

[2017-04-04 08:04] #245 closed

[2017-04-04 08:10] rnkn opened #325 "Error on launch when dat-node sharing previous dat"
I get the following error...

...if I have dat-node (12.0.3) sharing a dat previously created and saved inside Dat.app (1.1.1.723).

I realise it's silly, but might be a more-common-than-expected use.

To reproduce:

1. create a dat `foo` in Dat.app
1. close Dat.app
1. in shell, navigate to `foo`
1. `dat share .`
1. open Dat.app

Expected results:

Hmm not sure. Maybe a warning to dismiss, then da

[2017-04-04 09:37] juliangruber opened #326 "paused hex icon state"
when hovering over the dat icon hex, ideally the `pause` icon will be shown

[2017-04-04 09:38] juliangruber commented on #324
replication between @Kriesse's dat-desktop and mine didn't work, investigating. dat-cli + dat-desktop did work.

[2017-04-04 17:52] karissa commented on #325
It would be nice if they were compatible, definitely!

[2017-04-04 18:59] juliangruber commented on #325
Is the `dat share` still running while you open the app?

[2017-04-04 23:02] rnkn commented on #325
Yes this is with `dat share` still running.

[2017-04-05 01:03] juliangruber commented on #325
ok, then this is a currently known limitation of our dat stack. We're working on a solution here currently, which involves showing problem dats instead of aborting all together: https://github.com/datproject/dat-desktop/pull/302

[2017-04-06 11:56] juliangruber opened #327 "add replication percentage"
This is something only we can offer, so it would be cool to show off with it! For a dat that you're sharing, it would be awesome to show how much of it is replicated in the entire network. So say the replication percentage is `50%`, that would mean that half of the dat's data is already available from other peers.

[2017-04-06 11:57] juliangruber commented on #327
This gives us another dimension for a dat's health, and is just super handy in general.

[2017-04-06 11:58] yoshuawuyts commented on #327
Yeah sounds cool, think this would tie into a "details" view (#260) - probably need that detail view for metadata editing anyway (grant requirement) so could be a cool bonus

[2017-04-06 11:59] juliangruber commented on #327
What about instead this is another dimension on top of the progress bar? When you're sharing a dat that you already locally, the progress bar is kind of useless anyways:

<img width="192" alt="screen shot 2017-04-06 at 13 59 14" src="https://cloud.githubusercontent.com/assets/10247/24753146/3c2baa5a-1ad1-11e7-9ec7-8642fb05cea4.png">

So instead, we could use a different shade of green to render a

[2017-04-06 12:02] yoshuawuyts commented on #327
@juliangruber interesting, sounds like you're right and  there's def options there - think @Kriesse could best answer how / what about this

[2017-04-06 12:11] Kriesse commented on #327
I like it! We could show a darker green bar on top of your local 100% green bar.
But it's a concept that is not very intuitive and won't be clear just from the viusals or labels, so we'd need a tiny "?" icon next to it, that would explain it.

[2017-04-06 12:18] juliangruber commented on #327
sgtm!

[2017-04-06 12:19] juliangruber commented on #327
let's work on this once the edit in place feature landed :)

[2017-04-06 12:19] Kriesse commented on #327
👍

[2017-04-06 12:43] Kriesse commented on #327
## Mockup

![image](https://cloud.githubusercontent.com/assets/53684/24754580/5a5f3bb2-1ad7-11e7-9111-8380c73c75a9.png)

![image](https://cloud.githubusercontent.com/assets/53684/24754591/659e9040-1ad7-11e7-8547-f7e316808200.png)

[2017-04-06 12:44] Kriesse commented on #327
@juliangruber does this make sense?
(The copy in the tooltip is awkward, need to improve that.)

[2017-04-06 13:16] yoshuawuyts commented on #327
Copy idea: "20% of the data is currently not available on the network"
where s/20%/the actual value/ - that way people get more exact details, and
start relating the grayed out area with data not yet being available -
kinda useful for both beginners and power users

On Thu, Apr 6, 2017 at 2:44 PM Kristina Schneider <notifications@github.com>
wrote:

[2017-04-06 13:37] juliangruber commented on #327
ah, yeah this is the case where you don't have everything yet, that makes sense too!

[2017-04-06 17:09] karissa commented on #327
Did any users say they needed this?

[2017-04-06 17:16] juliangruber commented on #327
not that i'm aware of, but also not that they were aware of this being possible.

i as a user would like this feature.

[2017-04-06 17:19] karissa commented on #283
Hey all, this is a pretty crucial feature that is preventing users from using the app. Can we prioritize it?

[2017-04-06 17:20] karissa commented on #260
Hey all, many users have expressed that they would expect to see something like this when they click the dat, along with also the download location. Can we prioritize it?

[2017-04-06 17:36] juliangruber commented on #283
Oh, then it should be prioritised of course. For understanding, can you explain why this is preventing users from using the app?

[2017-04-06 18:16] karissa commented on #283
- People who want to use external hard drives (mentioned above)
- people who don't want their data in the downloads directory

We've heard this feedback directly from users

[2017-04-10 10:14] yoshuawuyts commented on #249
Done :sparkles:

[2017-04-10 10:14] #249 closed

[2017-04-10 10:19] yoshuawuyts commented on #247
haven't heard of any problems with hosting releases - safe to close

[2017-04-10 10:19] #247 closed

[2017-04-10 10:20] yoshuawuyts commented on #251
We got unit tests in for choo 5 recently #328 - closing!

[2017-04-10 10:20] #251 closed

[2017-04-11 08:28] juliangruber opened #330 "progress calculation off"
One dat keeps staying at `99%` although the uploading dat cli instance reports it's done. The `.progress` value calculated for said dat is

[code]

What is the error here? @joehand are you aware of such a case and handling it in the cli already?

[2017-04-11 08:29] juliangruber commented on #330
We could "simply" round values with a sane precision, but this could lead to different bugs as well

[2017-04-11 12:04] yoshuawuyts commented on #330
Hmm, blocks not lining up feels like an error we should fix - rounding up
feels like we'd move the problem to the UI layer which seems a bit icky.

On Tue, Apr 11, 2017 at 10:29 AM Julian Gruber <notifications@github.com>
wrote:

[2017-04-11 14:41] karissa commented on #330
Will this get fixed in the new version?

[2017-04-14 03:12] jayrbolton opened #331 "Cannot find module "browserify" on Debian jessie"
Downloaded and tried:

[code]

And got:

[code]

Are there any further instructions for running this `.AppImage` file? I can try it with a different window manager in a minute and see if that works better.

[2017-04-16 09:30] juliangruber commented on #331
Interesting, I can't reproduce this in my ubuntu setup. Did you get to try with a different window manager?

[2017-04-19 17:48] #284 closed

[2017-04-20 00:24] yoshuawuyts commented on #324
Think this is done (:

[2017-04-20 01:09] yoshuawuyts commented on #323
@juliangruber you said you wanted to take this on - any progress so far?

[2017-04-20 01:19] yoshuawuyts opened #332 "integrate "dat publish""
As per our call last week: once the datproject.org api is ready, and we have login (#134)  we should integrate "dat publish" functionality

[2017-04-20 08:35] juliangruber commented on #324
unfortunately not, i just haven't had the chance to debug the network issues with 2 machines. thinking i'll try with my vm setup, maybe that helps

[2017-04-20 08:36] juliangruber commented on #323
I have a branch here: https://github.com/datproject/dat-desktop/compare/sleep?expand=1

but there's a lot of values on `dat` missing still. i'll report back here!

[2017-04-20 09:23] juliangruber commented on #324
ok, with the VM setup peers can't seed with each other unless there's globally reachable peers, like with our featured dats. so i'll need to get myself access to another laptop to debug more

[2017-04-20 13:11] Kriesse opened #335 "Select Download Location when importing a Dat"
When importing a new `dat` we should be able to select the download location.

Related: https://github.com/datproject/dat-desktop/issues/290

[2017-04-20 13:11] Kriesse commented on #290
As per discussion with @yoshuawuyts, we're splitting off a separate issue for selecting download location: https://github.com/datproject/dat-desktop/issues/335

[2017-04-20 15:19] Kriesse commented on #335
Examples for similar UIs:

![image](https://cloud.githubusercontent.com/assets/53684/25232493/cee1e750-25db-11e7-85b7-94faaf38116f.png)

[2017-04-20 19:50] joehand commented on #255
Made a [dat-json](https://github.com/joehand/dat-json) module so we can start integrating. I can put this into dat-node directly as well.

[2017-04-20 20:27] yoshuawuyts commented on #255
Neato!

On Thu, Apr 20, 2017, 21:50 Joe Hand <notifications@github.com> wrote:

[2017-04-21 07:53] juliangruber commented on #323
wip pull request here: https://github.com/datproject/dat-desktop/pull/333

[2017-04-21 12:20] #309 closed

[2017-04-21 12:46] yoshuawuyts commented on #292
Closed as per ^

[2017-04-21 12:46] #292 closed

[2017-04-24 14:17] yoshuawuyts commented on #185
@Kriesse it's been merged now, could you do the styling bits? Thanks!

[2017-04-24 14:19] #335 closed

[2017-04-24 14:26] Kriesse commented on #290
This will be a multi-step flow:

0) Click "Import Dat" button
1) Paste Dat Link
( we now start looking for metadata)
2) select download location

optional if metadata is available:
3) give a name to the dat (if you're the owner)
4) select which files to download

[2017-04-26 01:54] yoshuawuyts commented on #280
done!

[2017-04-26 01:54] #280 closed

[2017-04-27 12:21] juliangruber commented on #323
currently waiting for the stats stuff while making sure all the rest works

[2017-04-27 13:00] yoshuawuyts commented on #323
Nice! I believe @mafintosh said he'd be working on stats on the plane over
to Portland. If so, it means we should be good to go soon ✨

On Thu, Apr 27, 2017, 14:21 Julian Gruber <notifications@github.com> wrote:

[2017-04-27 13:41] juliangruber opened #341 "styling of failed dats"
![screen shot 2017-04-27 at 15 40 33](https://cloud.githubusercontent.com/assets/10247/25485930/e54054b2-2b5f-11e7-913c-e3b41942bdc8.png)

While we display the error message when a dat fails to load - for example because it is already being served via the cli - the styling should be improved.

[2017-04-27 13:42] juliangruber commented on #325
this has been merged and you now see an error message instead

[2017-04-27 13:42] #325 closed

[2017-04-27 13:43] juliangruber commented on #310
@karissa do you have any ideas here?

[2017-04-27 15:10] Kriesse commented on #341
@julian Looks like a styling issue that'll come up again for other errors on a dat, how can we make it so that it's easy to re-use (and reproduce for me locally)?

[2017-04-27 18:30] joehand commented on #323
Dat-node has these stats right now:

[code]

Notes on current stats:

* `filesTotal` + `bytesTotal` includes duplicates counts from history.
*  `stats.network.uploadSpeed` seems to be buggy based on adding it to CLI yesterday
* `stats.peers.complete` also seems buggy from yesterday experience

Things we need:

* Current state of archive (e.g. latest file count and byte length, not counting duplica

[2017-04-28 07:04] juliangruber commented on #323
@joehand thanks for the summary! That's exactly what we need here too :)

[2017-04-28 15:50] Kriesse opened #342 "Create Intro Tutorial"
- [x] Mockups
- [x] Implement templates and navigation
- [x] finalize copy and illustrations

<img width="800" alt="intro-1" src="https://cloud.githubusercontent.com/assets/53684/25536457/351c51d0-2c3b-11e7-9c72-b3c54d074c7d.png">
<img width="800" alt="intro-2" src="https://cloud.githubusercontent.com/assets/53684/25536458/351cfedc-2c3b-11e7-98ba-b26d75d510a9.png">
<img width="800" alt="intro-3" s

[2017-04-28 15:59] Kriesse commented on #341
@yoshuawuyts As per discussion, let's get this fixed – can you point me to where to get started with styling?

[2017-04-28 16:38] juliangruber commented on #341
@Kriesse one way to reproduce is to create a dat in desktop, quit desktop, share the dat via cli, and while still sharing open desktop again

[2017-04-28 20:33] karissa opened #343 "Distributed user accounts using pki"
PKI stands for 'Public Key Infrastructure'. We are applying to an Open Tech Fund grant to integrate this capability into Dat Desktop. https://en.wikipedia.org/wiki/Public_key_infrastructure

PKI will allow people to:
* Organize their collaborators into groups with different file-access permissions and verify the identities of other users, all without any central authority using cryptography
* Prev

[2017-05-01 20:54] karissa commented on #310
Heyo,
Figuring out how to re enable our integration tests and writing new ones will be important to reduce chance of regressions.. it's unclear how Travis is failing us here.

[2017-05-01 21:14] juliangruber commented on #310
my guess is because the window is created in a virtual frame buffer...I've noticed the integration tests failing locally when you switch to other windows while they're running

[2017-05-02 06:35] juliangruber commented on #341
@Kriesse I think in `elements/table-row.js` you need to look at `errorRow()` for the DOM that's generated and add a css block for this as well.

[2017-05-02 07:44] juliangruber commented on #310
WIP pull request here: https://github.com/datproject/dat-desktop/pull/344

[2017-05-02 15:24] Kriesse commented on #341
@juliangruber ha, just tried that, but that only gives me the error in the CLI :)
any ideas?

[2017-05-02 15:37] Kriesse opened #347 "Don't allow renaming of read-only Dats"
Via inline-editing, I can rename a read-only dat (=edit dat.json).
That probably shouldn't happen.

[2017-05-02 18:25] karissa commented on #310
nice!

[2017-05-02 18:43] karissa commented on #347
opened a pr for this

[2017-05-02 18:47] karissa opened #349 "History view"
With the new SLEEP version, dat can download and save the changes to all the files.

Here are some examples:

Restore to earlier version
![image](https://cloud.githubusercontent.com/assets/633012/25633714/f1ccf3b8-2f2c-11e7-9a48-3d83eac43944.png)

While a file is open
![image](https://cloud.githubusercontent.com/assets/633012/25633720/f911455c-2f2c-11e7-8f0c-fa89c3b1bfeb.png)

Table view
![image](

[2017-05-02 18:50] karissa commented on #327
Can we prioritize the history and selective download and put this on the backburner? Unless at least 5 of our users asks for it (wed don't count as users :P)

[2017-05-03 10:02] #310 closed

[2017-05-03 10:03] juliangruber commented on #341
oh, what error are you getting in the cli?

[2017-05-03 10:03] juliangruber commented on #341
was desktop maybe still running while you started the cli?

[2017-05-03 19:07] #347 closed

[2017-05-03 19:42] karissa commented on #290
@mafintosh and @joehand made something that is similar to the selecting which files to download https://github.com/mafintosh/directory-index-html

What's the status on this?

[2017-05-04 12:00] yoshuawuyts commented on #349
cool, thanks for sharing!

[2017-05-04 12:02] yoshuawuyts commented on #332
@karissa saw you removed the `Status: Blocked` label. Could you perhaps link to the API (source/docs) on how to create accounts and publish to datproject.org? Thanks!

[2017-05-04 13:59] yoshuawuyts commented on #290
@karissa we have some sketches on paper; think we discussed that @Kriesse is going to sketch them out next week ish, and I'll implement them after I'm back from Italy. This relies on SLEEP to land though.

[2017-05-09 14:23] Kriesse commented on #290
Paper sketch:
![fullsizerender](https://cloud.githubusercontent.com/assets/53684/25855555/cd803af4-34d3-11e7-9d0b-4128c4168979.jpg)

[2017-05-09 14:25] Kriesse commented on #323
@juliangruber Can we chat about the blog post and other marketing? Happy to help with it but need technical background first :)

[2017-05-10 13:02] Kriesse commented on #185
The behavior needs a but of fine-tuning.
- [ ] after click, show the current title in the editable field
- [ ] give an indication that it's saving and saved (see mockup)
- [ ] when clicking outside of the editable area, editing is canceled (right now only "escape" does that)

[2017-05-10 13:49] juliangruber commented on #185
since @yoshuawuyts is out for a week I'll help with this :)

[2017-05-10 13:53] juliangruber opened #351 "fix reload behavior"
Currently the app quits when you issue reload, via `CMD+R` for example. This is because we override `window.onbeforeunload` [here](https://github.com/datproject/dat-desktop/blob/master/models/dats.js#L74) and then always issue `app.quit()`, however we shouldn't do that when the action is to reload and not quit. We can probably check the event object to figure out which case it is.

[2017-05-10 13:56] clkao commented on #351
Can we just do `manager.closeAll` in beforeunload without calling app.quit? assuming that for actually closing the app, electron will eventually do app.quit.  All we need is to cleanup the running state properly, right?

[2017-05-10 13:58] juliangruber commented on #351
https://github.com/datproject/dat-desktop/blob/master/models/dats.js#L76 prevents the default behavior, we need to make sure it waits with closing the app until all dats are closed.

This might not be a requirement with sleep any more however, since it's not using dat-worker currently, which required this patch.

[2017-05-10 14:10] clkao commented on #351
right, this does seem indeed tricky. apparently there's no way to wait for beforeunload :/

[2017-05-10 15:51] karissa commented on #351
Yeah maybe app.quit isn't required at all anymore

[2017-05-10 15:52] juliangruber commented on #351
this logic has been removed completely in the SLEEP branch, @Kriesse can we continue using this as our working branch?

[2017-05-10 16:08] juliangruber commented on #351
fixed once we merge SLEEP

[2017-05-10 16:08] #351 closed

[2017-05-11 13:04] juliangruber commented on #185
@Kriesse how shall we implement the indication for successful save?

[2017-05-12 08:18] juliangruber opened #354 ""share folder" sits below "download""
<img width="316" alt="screen shot 2017-05-12 at 10 17 21" src="https://cloud.githubusercontent.com/assets/10247/25989396/3b08a410-36fc-11e7-8af4-85eb30b97df1.png">

[2017-05-12 08:24] juliangruber opened #355 "title not set after "share""
When you share a folder, you currently need to reload the app for the correct title to be displayed (default: the folder's name)

[2017-05-12 10:05] juliangruber commented on #355
fixed in 053437b7c1a4d570b06c38eff6d2b10c431cb72e

[2017-05-12 10:05] #355 closed

[2017-05-12 10:24] juliangruber opened #356 "less granular speed values"
we don't care  if it's 117766kb/s or 118001kb/s

[2017-05-12 10:36] Kriesse commented on #185
@juliangruber " when clicking outside of the editable area, editing is canceled" does not work for me yet

[2017-05-12 10:50] #356 closed

[2017-05-12 10:50] juliangruber opened #357 "debounce speed updates"
no need to rerender the network speed at 60fps

[2017-05-12 10:51] juliangruber commented on #185
@Kriesse maybe try with a fresh set of node modules? it works for me

[2017-05-12 11:29] Kriesse commented on #185
Done! https://github.com/datproject/dat-desktop/pull/352

[2017-05-12 11:29] #185 closed

[2017-05-15 09:54] juliangruber commented on #341
this is done in master :)

[2017-05-15 09:54] #341 closed

[2017-05-15 09:55] juliangruber commented on #324
let's do a new round of QA for the next release

[2017-05-15 09:55] #324 closed

[2017-05-15 10:11] juliangruber opened #359 "deleting a dat messes up the dom"
before deleting:

![screen shot 2017-05-15 at 12 10 43](https://cloud.githubusercontent.com/assets/10247/26053032/9534e3e6-3967-11e7-8bcc-1022d9382835.png)

after deleting:

![screen shot 2017-05-15 at 12 10 49](https://cloud.githubusercontent.com/assets/10247/26053039/999d987e-3967-11e7-9aac-5042755eacde.png)

[2017-05-15 11:11] juliangruber opened #361 "upgrade microcomponent"
new microcomponent -> sweet refactoring :)

https://github.com/yoshuawuyts/microcomponent

[2017-05-15 11:27] juliangruber commented on #330
I haven't seen this since SLEEP, so closing and hoping it won't reappear :)

[2017-05-15 11:27] #330 closed

[2017-05-15 11:28] juliangruber commented on #294
Since SLEEP landed, I'm closing this for now. I haven't seen any of the aforementioned issues since :)

[2017-05-15 11:28] #294 closed

[2017-05-15 11:31] juliangruber commented on #275
we now upgraded our internal "dat" stack to the SLEEP version, by which a great many things changed. I tried to reproduce but I couldn't. Let's close for and hope this is fixed in the next release :)

[2017-05-15 11:31] #275 closed

[2017-05-15 11:32] juliangruber commented on #357
fixed by https://github.com/datproject/dat-desktop/pull/358

[2017-05-15 11:35] juliangruber commented on #283
you now can set the directory for each dat. shall we close this or do we want to add a pref pane as well?

[2017-05-15 11:35] juliangruber commented on #255
it now does :)

[2017-05-15 11:35] #255 closed

[2017-05-15 11:39] juliangruber commented on #180
@Kriesse is the class definition still there?

[2017-05-15 11:45] juliangruber commented on #180
WIP pull request here: https://github.com/datproject/dat-desktop/pull/362

[2017-05-15 11:47] juliangruber commented on #269
agreed, no need for .deb :)

[2017-05-15 11:47] #269 closed

[2017-05-15 11:48] #242 closed

[2017-05-15 14:22] Kriesse opened #363 "Edit Dat Name: don't show edit indicator when Read-only"
When a dat is read-only, there should be no visual hover indicating that it can be edited (it can not):

<img width="298" alt="screen shot 2017-05-15 at 4 21 14 pm" src="https://cloud.githubusercontent.com/assets/53684/26062288/b3ee29dc-398a-11e7-85e1-5ee337b0385c.png">

[2017-05-15 14:55] Kriesse commented on #290
@juliangruber as discussed:
![fullsizerender](https://cloud.githubusercontent.com/assets/53684/26063761/3a9471d6-398f-11e7-9097-fa47a13f5c4a.jpg)

[2017-05-15 17:22] juliangruber commented on #363
fix in https://github.com/datproject/dat-desktop/pull/364

[2017-05-15 17:25] juliangruber commented on #323
closing in favor of https://github.com/datproject/datproject.org/issues/545

[2017-05-15 17:25] #323 closed

[2017-05-15 18:24] juliangruber commented on #290
progress:

![screen shot 2017-05-15 at 20 22 13](https://cloud.githubusercontent.com/assets/10247/26072648/8767c554-39ac-11e7-98a8-7a1314cf1ea5.png)

[2017-05-16 10:19] Kriesse opened #365 "Wrong color on icon next to peers"
When peers are `N\A`, the icon should be grey, not green

![image](https://cloud.githubusercontent.com/assets/53684/26101573/e564e364-3a31-11e7-8f00-74a47ea5461d.png)

[2017-05-16 10:21] Kriesse commented on #342
To Do:

- [ ] Review copy / cc @karissa
- [ ] fix button alignment

[2017-05-16 10:29] #180 closed

[2017-05-17 06:53] juliangruber commented on #365
pull request in https://github.com/datproject/dat-desktop/pull/368

[2017-05-17 06:54] juliangruber commented on #363
landed!

[2017-05-17 06:54] #363 closed

[2017-05-17 06:54] juliangruber commented on #361
landed in https://github.com/datproject/dat-desktop/pull/366

[2017-05-17 06:54] #361 closed

[2017-05-17 06:55] juliangruber commented on #359
this happens when you delete the first dat in the list, but not the last one. this unfortunately wasn't fixed by upgrading to microcomponent@3

[2017-05-17 06:57] juliangruber commented on #331
closing for lack of feedback

[2017-05-17 06:57] #331 closed

[2017-05-17 06:58] juliangruber opened #369 "add unit tests for dat-manager"

[2017-05-17 09:41] #365 closed

[2017-05-17 09:41] yoshuawuyts commented on #365
yay, merged!

[2017-05-17 12:22] yoshuawuyts commented on #283
Think we can close it (:

On Mon, May 15, 2017 at 1:35 PM Julian Gruber <notifications@github.com>
wrote:

[2017-05-17 12:24] #283 closed

[2017-05-17 13:33] juliangruber commented on #369
pull request here: https://github.com/datproject/dat-desktop/pull/370

[2017-05-17 13:52] juliangruber commented on #359
microcomponent is on latest everywhere, however we have some old nanocomponent versions in the tree still! will work on upgrading those

[2017-05-17 14:00] #369 closed

[2017-05-17 14:04] juliangruber commented on #359
the only old nanocomponent is now in base-elements /cc @yoshuawuyts

I'll next try if more elements need to be ported to microcomponent, maybe just adding the automated `id=$RANDOM` will fix this

[2017-05-17 14:11] juliangruber commented on #359
yup, `elements/table-row` isn't a component yet!

[2017-05-17 14:16] juliangruber commented on #359
pull request in https://github.com/datproject/dat-desktop/pull/372

[2017-05-18 08:38] #359 closed

[2017-05-18 08:44] #357 closed

[2017-05-18 08:50] juliangruber commented on #132
addressing everything except file selection in https://github.com/datproject/dat-desktop/pull/367

[2017-05-18 09:13] Kriesse opened #375 "can't drag window in "unexpected issue" state"

[2017-05-18 09:24] Kriesse commented on #264
Doesn't seem actionable at the moment or directly related to Dat-Desktop. Closing.

[2017-05-18 09:24] #264 closed

[2017-05-18 09:25] Kriesse commented on #265
Not relevant anymore

[2017-05-18 09:25] #265 closed

[2017-05-18 09:26] Kriesse commented on #191
@yoshuawuyts What's the status of this?

[2017-05-18 09:27] Kriesse commented on #53
Styles for this are done, just hidden (`.dn`). Closing in favor of #134 and #135.

[2017-05-18 09:28] #53 closed

[2017-05-18 09:28] Kriesse commented on #253
Same applies for window in "unexpected issue" state.

[2017-05-18 09:29] Kriesse commented on #375
Closing in favor of #253

[2017-05-18 09:29] #375 closed

[2017-05-18 10:12] #191 closed

[2017-05-18 10:12] yoshuawuyts commented on #191
Let's close it - it's a good idea, but no time

On Thu, May 18, 2017 at 11:26 AM Kristina Schneider <
notifications@github.com> wrote:

[2017-05-18 10:14] #354 closed

[2017-05-18 10:25] #342 closed

[2017-05-18 11:19] Kriesse commented on #290
Mockups, also covering #260:

## Download Dat View

![dat download view](https://cloud.githubusercontent.com/assets/53684/26200007/916ac6a6-3bcc-11e7-9ab2-87a20d33726c.png)

## Detail Dat View (#260)

![dat detail view](https://cloud.githubusercontent.com/assets/53684/26200011/9382b3cc-3bcc-11e7-9ae7-d15726c4e4ec.png)

[2017-05-18 14:49] Kriesse commented on #132
Closing in favor of #290 and #260

[2017-05-18 14:49] #132 closed

[2017-05-18 15:11] Kriesse commented on #290
@juliangruber Updated mockups above. I started the styling in `add/download-screen`
Can you help to finish?
- [ ] debug: when entering a dat link, the download view flashes, then disappears. entering the link again fixes this.
- [ ] debug: the "fetching" state never shows up
- [ ] merge this with your work on the file list

[2017-05-18 23:53] karissa commented on #132
👍

[2017-05-19 07:14] juliangruber commented on #290
by "disappears" do you mean you get back to the dats list or that there is a blank view?

[2017-05-19 08:09] juliangruber opened #378 "metadata is only loaded once"
it should refresh when there's an update available

[2017-05-19 08:24] juliangruber commented on #378
pull request here: https://github.com/datproject/dat-desktop/pull/379

[2017-05-19 08:26] juliangruber opened #380 "warning missing when importing duplicate dat"

[2017-05-19 08:56] juliangruber commented on #380
fixed in `multidrive@5.0.1` which floats in automatically

[2017-05-19 08:56] #380 closed

[2017-05-19 09:03] juliangruber opened #381 "sometimes adding a dat doesn't add it to the database"
it won't be in `~/.dat-desktop/dats.json`

[2017-05-19 09:21] juliangruber commented on #381
this happens when you remove a dat, the second one also gets removed

[2017-05-19 09:22] juliangruber commented on #381
<img width="835" alt="screen shot 2017-05-19 at 11 22 21" src="https://cloud.githubusercontent.com/assets/10247/26241581/71ec3e90-3c85-11e7-885e-702f3d9b1ab1.png">

[2017-05-19 09:30] juliangruber commented on #381
possibly related issue:

<img width="834" alt="screen shot 2017-05-19 at 11 30 28" src="https://cloud.githubusercontent.com/assets/10247/26241864/93d23270-3c86-11e7-9987-55f13aea68ec.png">

this was also after deleting a dat

[2017-05-19 09:59] juliangruber commented on #381
yep, when you delete the first dat in a list, the list will be rendered empty

[2017-05-19 11:51] juliangruber commented on #381
the main issue will be fixed through https://github.com/maxogden/toiletdb/pull/13

[2017-05-19 11:56] juliangruber commented on #381
https://github.com/datproject/dat-desktop/pull/383

[2017-05-19 13:27] #378 closed

[2017-05-19 13:28] juliangruber commented on #381
closing this issue and opening a new one for the deletion dom issues

[2017-05-19 13:28] #381 closed

[2017-05-19 13:29] juliangruber opened #384 "deleting the first dat causes rendering issues"
<img width="834" alt="screen shot 2017-05-19 at 11 30 28" src="https://cloud.githubusercontent.com/assets/10247/26249711/e512ce30-3ca7-11e7-8a04-6135b0e189d6.png">

[2017-05-19 13:29] juliangruber commented on #384
the list is empty and placeholder elements will be rendered

[2017-05-19 13:31] juliangruber opened #385 "also open detail view when clicking on a dat"

[2017-05-19 15:20] Kriesse commented on #326
@juliangruber I can't solve this with CSS – on hover, the icon needs to change, which means changing the markup. Any ideas how to do that?
https://github.com/datproject/dat-desktop/blob/master/elements/table-row.js#L298

[2017-05-19 15:44] Kriesse commented on #253
This has be fixed for the intro screen by applying `-webkit-app-region: drag;`
(However the window will only became draggable after restarting the app, refreshing doesn't help)

[2017-05-19 15:48] #253 closed

[2017-05-19 16:01] juliangruber commented on #326
PR in #389

[2017-05-19 16:40] #326 closed

[2017-05-20 13:13] juliangruber commented on #385
WIP pull request in https://github.com/datproject/dat-desktop/pull/388

[2017-05-22 07:27] juliangruber opened #391 "refactor recursive file walk in download screen"
use @mafintosh's mirror-folder module for this

[2017-05-22 09:37] juliangruber commented on #391
tough choice, with mirror-folder it's slower, but potentially safer, since it's all sequential and we just run all in parallel.

I have a branch ready with this here: https://github.com/datproject/dat-desktop/compare/mirror-folder?expand=1

Let's see with more usage of the new download screen which is the better approach.

[2017-05-22 10:48] yoshuawuyts commented on #391
new code looks pretty good! :sparkles:

[2017-05-22 13:45] Kriesse commented on #290
@juliangruber I think this is almost there, except the flash of empty page when importing a dat. This is what I currently  see:

1. Enter dat link
(2. Only sometimes: download view flashes for a moment)
3. Dark empty screen
4. Download view says "N/A" in metadata fields
5. Download view shows actual metadata

This is what it should be:

1. Enter dat link
2. Download view in "Fetching Metadata" sta

[2017-05-22 15:32] juliangruber commented on #290
ok, yeah then you see the same as I do. Should be fixed later today!

[2017-05-23 01:17] karissa commented on #290
nice!!

[2017-05-23 07:16] juliangruber commented on #290
not fixed yet, but @yoshuawuyts and me are working on it!

[2017-05-23 07:34] Kriesse commented on #271
I think we should have a menu trigger (e.g. a little "i" icon) in the top right of the nav bar. on click, we show a drop down menu. Same style as in datproject.org.
We can place version number, link to github (and later any profile-related links) there.

## menu dropdown in datproject.org:
![image](https://cloud.githubusercontent.com/assets/53684/26343061/d94ff32a-3f9a-11e7-89b1-d3276c013e98.png)

[2017-05-23 07:36] Kriesse commented on #349
Example from Dropbox:

![image](https://cloud.githubusercontent.com/assets/53684/26343217/502306c2-3f9b-11e7-98f2-4be949b58a00.png)

[2017-05-23 07:39] Kriesse commented on #271
@juliangruber @yoshuawuyts Can one of you help with this?

I'll do the styling :)

[2017-05-23 17:01] juliangruber opened #392 "share button too big after fresh npm install"
![screen shot 2017-05-23 at 18 59 06](https://cloud.githubusercontent.com/assets/10247/26366054/e824bd96-3fe9-11e7-87a7-12763e17d6de.png)

Just noticed this when looking at the travis build, and this also happens locally after a good old `npm cache clean && npm install && npm start`

[2017-05-23 17:08] juliangruber opened #393 "title editing error"
after clicking on the title:

<img width="687" alt="screen shot 2017-05-23 at 19 07 22" src="https://cloud.githubusercontent.com/assets/10247/26366357/18f484d2-3feb-11e7-82a7-23a59998a733.png">

this is due to the new microcomponent architecture

[2017-05-23 17:24] juliangruber opened #394 "pause hover fires unexpectedly"
<img width="115" alt="screen shot 2017-05-23 at 19 24 17" src="https://cloud.githubusercontent.com/assets/10247/26367007/74928f9e-3fed-11e7-8503-c087ab2be619.png">

[2017-05-23 18:37] yoshuawuyts commented on #394
Does this have anything to do with the "mouseenter" event triggering?

On Tue, May 23, 2017 at 7:24 PM Julian Gruber <notifications@github.com>
wrote:

[2017-05-23 21:15] Kriesse commented on #392
Ha, did all of the above and can't reproduce!
Looks like this:
![image](https://cloud.githubusercontent.com/assets/53684/26376670/9da08ad8-400d-11e7-8100-f83b9c04b753.png)

@juliangruber Could you inspect the larger button and see what's the origin of the wring style?

[2017-05-24 11:08] juliangruber commented on #392
The download text has `font-size: .75rem`, while the button only inherits `font-size: 100%`.

does that help?

[2017-05-24 12:39] juliangruber commented on #393
fix in https://github.com/datproject/dat-desktop/pull/395

[2017-05-24 12:59] juliangruber commented on #394
fix in https://github.com/datproject/dat-desktop/pull/396

[2017-05-25 17:09] joehand opened #398 "running dat doctor should open developer tools"
If you click `Help > Doctor` it should open developer tools if they aren't already open.

[2017-05-26 09:02] #398 closed

[2017-05-26 09:08] juliangruber opened #399 "error style not aligned"
![screen shot 2017-05-26 at 11 00 00](https://cloud.githubusercontent.com/assets/10247/26488416/99244506-4203-11e7-8a21-e7d44f02f3c3.png)

[2017-05-26 09:37] juliangruber opened #400 "can't delete error dats"

[2017-05-26 09:37] #394 closed

[2017-05-26 09:37] juliangruber commented on #400
blocked by https://github.com/datproject/multidrive/pull/13

[2017-05-26 09:38] #393 closed

[2017-05-26 12:17] Kriesse commented on #399
@juliangruber How can I recreate this error again?

[2017-05-26 12:21] Kriesse commented on #400
Maybe this is the same issue:
If I delete a dat from the desktop app, and also delete the folder via Finder, then refresh the app, the deleted app comes back. And the folder is created as well.

[2017-05-26 13:18] #392 closed

[2017-05-26 13:43] #399 closed

[2017-05-27 13:50] juliangruber commented on #400
I think those are different issues. This is about adding a delete button to errored dats and fixing the issue in multidrive.

That's an interesting bug however! I'm opening a separate issue.

[2017-05-27 13:51] juliangruber opened #403 "deleted dat is added back"
@Kriesse:

[2017-05-29 09:50] yoshuawuyts commented on #384
I think this can be closed, despite https://github.com/shama/bel/pull/77 not being merged yet - very close!

[2017-05-29 09:50] #384 closed

[2017-05-29 11:14] juliangruber commented on #391
merged the new code in as limited concurrency would help unblocking the render thread

[2017-05-29 11:14] #391 closed

[2017-05-29 12:35] juliangruber commented on #403
I can't reproduce, maybe that's part of an outdated dependency. Can you try to reproduce with a fresh set of dependencies?

[2017-05-29 13:00] juliangruber commented on #400
pull request here: https://github.com/datproject/dat-desktop/pull/405

[2017-05-29 13:24] Kriesse commented on #403
@juliangruber Yup, can't reproduce it anymore either, closing!

[2017-05-29 13:24] #403 closed

[2017-05-29 13:25] Kriesse commented on #271
Can I get the menu trigger please? 🙏

[2017-05-30 04:28] #400 closed

[2017-05-30 05:09] juliangruber commented on #271
working on it!

[2017-05-30 05:42] juliangruber commented on #271
Pull request here: https://github.com/datproject/dat-desktop/pull/406

[2017-05-30 08:31] juliangruber commented on #241
yeah, but I mean if resolving those urls were part of dat-node for example, we would get this feature for free in all tools using dat-node

[2017-05-30 08:32] juliangruber commented on #290
this has landed :)

[2017-05-30 08:32] #290 closed

[2017-05-30 09:35] Kriesse commented on #271
Initial styling done. @juliangruber I need help with some details, see list above.

![image](https://cloud.githubusercontent.com/assets/53684/26577236/094e1dea-452c-11e7-9ec7-32b8f21c8dc9.png)

[2017-05-30 10:53] juliangruber commented on #271
@Kriesse all issues addressed!

[2017-05-30 17:58] joehand commented on #241
+1 I can put this on my list for dat-node. Using https://github.com/joehand/dat-link-resolve in CLI but no reason I can't resolve keys directly in dat-node.

[2017-05-31 06:38] juliangruber opened #407 "dat highlight is triggered after inline editing"
![screen shot 2017-05-31 at 08 37 46](https://cloud.githubusercontent.com/assets/10247/26618911/6fed200e-45dc-11e7-9750-d4c9ef23746e.png)

[2017-05-31 06:39] juliangruber commented on #407
also all highlights are triggered when adding a new dat

[2017-05-31 06:42] #407 closed

[2017-05-31 06:52] juliangruber opened #408 "opening dat:// links doesn't work"
nothing happens when you for example link the "open in desktop app" link [here](https://datproject.org/054e2d07b9230c0dd0947494c7314cbe4891b576b049b777c99c4336171acd0b/contents/meta.json).

since the website expects the app to support it, it should!

[2017-05-31 07:14] #408 closed

[2017-05-31 07:15] juliangruber opened #409 "opening dat:// link should show download screen"
...instead of just downloading right away

[2017-05-31 07:31] #409 closed

[2017-06-01 12:04] juliangruber opened #410 "sometimes not all files are displayed"
because of this bug https://github.com/yoshuawuyts/nanomorph/pull/69, which will most likely be fixed through https://github.com/shama/bel/pull/77/files, in the download view not always all files are displayed.

[2017-06-01 12:06] juliangruber opened #411 "open download input is closed when UI rerenders"

[2017-06-01 14:08] juliangruber commented on #411
there's no DOM modifications happening here, pure CSS. I think the input is losing its active or focus status. @yoshuawuyts have you seen this before?

[2017-06-01 14:10] yoshuawuyts commented on #411
@juliangruber got a screenshot of what happens?

[2017-06-01 16:10] beingalink opened #412 "Wrong reported dat size in download preview"
From a dat I use privately:
[code]
Dat-desktop reports the content size of 997 MB which is as I've been told the virtual(?) size of the content append only file. I think dat-desktop should report the current size (46 MB) which is what it actually will download in the end.

[2017-06-01 16:58] joehand commented on #412
Looks like size is getting set here: https://github.com/datproject/dat-desktop/blob/master/elements/table-row.js#L130-L132

If we use `dat.stats.get().byteLength` that'll reflect the latest size. Need to dig in a bit more later for where dat.stats get set, then I can PR.

[2017-06-02 11:21] juliangruber commented on #411
@yoshuawuyts when you have the download input open while downloading a dat, when eg the download speed updates the input will be closed again

[2017-06-04 12:41] G-Ray opened #413 ".line-loading animation take +/- 50% CPU"
When disabling animation on .line-loading, CPU load is low.
When the animation is enabled, it takes +/- 50% on my 4 threads CPU.

I think chromium/electron GPU acceleration is not enabled on Linux. I don't know if GPU accel could help much, but still, 50% is high!

[2017-06-04 18:23] yoshuawuyts commented on #413
dang yeah, that's no good. Cc/ @kriesse - should this be turned off?

On Sun, Jun 4, 2017 at 2:41 PM Geoffrey Bonneville <notifications@github.com>
wrote:

[2017-06-07 10:05] juliangruber commented on #413
we also have a web version of this animation here: http://datproject.github.io/design/

can you see if this gives you the same kind of performance in a regular browser on your machine?

[2017-06-07 16:45] Kriesse commented on #413
@juliangruber @yoshuawuyts Looking into this –I can reproduce high CPU load when downloading a dat, but not sure it's tied to the animation, but maybe the fact that we have a full repaint every time the download speed updates – trying to figure out what is happening exactly. @juliangruber let's debug together?

[2017-06-07 17:06] juliangruber commented on #413
@G-Ray what's your linux setup?

[2017-06-07 17:06] juliangruber commented on #413
let's first try to reproduce :)

[2017-06-08 11:18] #271 closed

[2017-06-08 11:27] Kriesse opened #414 "Reset Password Screen"
Similar to datproject.org:

![image](https://user-images.githubusercontent.com/53684/26926498-3f6f72c4-4c4e-11e7-9d29-4914df9e2598.png)

[2017-06-08 11:29] Kriesse commented on #135
![image](https://user-images.githubusercontent.com/53684/26926537-6e3958fe-4c4e-11e7-8600-a901d8c2d3bf.png)

[2017-06-08 11:31] Kriesse opened #415 "Header shows user avatar when logged in"
Mockup:

![image](https://user-images.githubusercontent.com/53684/26935064-48fba8b8-4c6b-11e7-824e-931d57bb5955.png)

[2017-06-08 11:35] Kriesse opened #416 "Mark own Dats in Dat Overview List"

[2017-06-08 11:39] Kriesse opened #417 "Add Logout Button to dropdown menu"

[2017-06-08 14:13] juliangruber commented on #417
code is in the PR, may just need styling

[2017-06-08 22:43] G-Ray commented on #413
@juliangruber @Kriesse I confirm that when I open http://datproject.github.io/design/ my cpu is around 50%.

My setup: Fedora 25 + chromium 58 on a xps-13 (i7-7500u)

[2017-06-09 07:22] juliangruber commented on #413
cool, i'll try later with my ubuntu vm!

[2017-06-09 12:09] juliangruber commented on #415
js part of this should be done :)

[2017-06-09 12:12] juliangruber commented on #413
I can confirm, this is the same on my ubuntu vm. @Kriesse shall we disable the animation on linux?

[2017-06-09 12:12] juliangruber commented on #414
how do we navigate away from this screen?

[2017-06-09 12:12] juliangruber commented on #414
besides this, the js part should be done

[2017-06-09 12:13] juliangruber commented on #135
the js part should be done

[2017-06-09 12:13] juliangruber commented on #134
the js part should be done

[2017-06-09 15:12] #385 closed

[2017-06-11 10:37] juliangruber opened #419 "upload speed not updated"
<img width="1357" alt="screen shot 2017-06-11 at 12 35 55" src="https://user-images.githubusercontent.com/10247/27010342-96ad8a2a-4ea2-11e7-9af9-6ab43209c38f.png">

[2017-06-11 10:46] #419 closed

[2017-06-11 10:48] juliangruber opened #420 "Add throttle setting"
For long running syncing, you might now want Dat to take over your whole bandwidth

[2017-06-11 20:58] karissa commented on #420
+1 yeah good idea. this is a pretty standard feature in torrent clients

[2017-06-12 07:14] juliangruber commented on #420
possible now in code, just need to expose through the UI

[2017-06-12 07:21] Kriesse commented on #417
Done

[2017-06-12 07:21] #417 closed

[2017-06-12 07:22] Kriesse commented on #415
Updated the styling a bit for better readability:

![image](https://user-images.githubusercontent.com/53684/27022947-9dec538a-4f50-11e7-9eef-4480fd070138.png)

[2017-06-12 07:22] #415 closed

[2017-06-12 07:51] Kriesse commented on #414
@juliangruber

Good point about navigating away – we need this for all 3 screens (register, login, password). Right now the user is stuck.

Could we do something similar to what Slack does?
- hide header
- show "x" close button
- when "x" is clicked, go back to previous screen

I guess this means a modal after all 🙈

![image](https://user-images.githubusercontent.com/53684/27023866-a9f79dd4-4f54-1

[2017-06-12 09:54] juliangruber opened #421 "UI"

[2017-06-12 09:54] juliangruber opened #422 "Backend"

[2017-06-12 12:37] Kriesse commented on #421
Example from Transmission:

![image](https://user-images.githubusercontent.com/53684/27034131-8de78f14-4f7c-11e7-898d-923a87e2f88e.png)

Example from uTorrent:

![image](https://user-images.githubusercontent.com/53684/27034147-97f73432-4f7c-11e7-8223-a5d766e303ba.png)

[2017-06-12 12:38] Kriesse commented on #421
@juliangruber I think we need a footer similar to the examples above.
Can you describe your use case a bit? What's the data you'd want to see there (and that we can show?) What are the settings you wanted to adjust?

[2017-06-12 12:41] yoshuawuyts commented on #422
@juliangruber What does this mean?

[2017-06-12 13:01] juliangruber commented on #422
oops, assigned this to the throttling milestone but didn't reflect that in the title.

this is a collection milestone for all the todo backend tasks to implement throttling.

[2017-06-12 13:03] juliangruber commented on #421
I'd want to

- limit the upload bandwidth
- turn off throttling completely at night
- turn on throttling during the day
- see how much it's uploading in total
- see how much it's downloading in total

[2017-06-12 13:33] Kriesse commented on #421
First draft:

![image](https://user-images.githubusercontent.com/53684/27036007-c1773968-4f83-11e7-91a2-b9e28742d155.png)

![image](https://user-images.githubusercontent.com/53684/27036161-3c4a0990-4f84-11e7-844f-9de20cb49a81.png)

- [ ] box with input fields appears on click on settings icon. disappears when clicking anywhere else.
- [ ] when upload/download limit is entered, it is saved and appl